<template>
  <div>
    <v-card color="transparent" elevation="0">
      <formz :product="product" :readonly="readonly" :operation="operation" @add="add()" />
    </v-card>

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import Formz from "./components/formz";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Product",
  components: {
    Formz,
    FeedBack
  },
  data() {
    return {
      readonly: false,
      operation: "add",
      message: null,
      feedback: false
    };
  },
  computed: {
    product: {
      get: function() {
        return {};
      }
    }
  },
  methods: {
    async add() {
      console.log(this.product);
      const response = await this.$store.dispatch("product/add", this.product);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
