<template>
  <div>
    <v-card color="transparent" elevation="0">
      <formz :product="product" :readonly="readonly" :operation="operation" @edit="edit()" />
    </v-card>

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import Formz from "./components/formz";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "ProductsEdit",
  components: {
    Formz,
    FeedBack
  },
  data() {
    return {
      readonly: false,
      operation: "edit",
      message: null,
      feedback: false
    };
  },
  created() {
    this.$store.dispatch("product/read", this.$route.params.id);
  },
  computed: {
    product: {
      get: function() {
        return this.$store.getters.product;
      }
    }
  },
  methods: {
    async edit() {
      console.log(this.product);
      const response = await this.$store.dispatch("product/edit", this.product);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
