<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Addresses
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Can be billing addresses and store addresses.
      </v-card-subtitle>
      <v-card-text>
        <v-row>
          <v-col cols="12"> </v-col>
          <v-col v-for="address in addresses" :key="address.id" cols="12" md="6">
            <div class="">
              <v-card-title class="pb-5">
                {{ address.line1 }}
              </v-card-title>
              <v-card-subtitle class="pb-5">
                {{ address.zip }}
              </v-card-subtitle>
              <v-card-text>
                <v-btn color="primary" outlined @click="editor(address.id)">
                  Edit
                </v-btn>
                <v-divider vertical />
                <v-btn color="info" plain @click="remove(address.id)">
                  Remove
                </v-btn>
              </v-card-text>
            </div>
          </v-col>
          <v-col cols="12" md="6">
            <p class="pt-15">
              <v-btn color="primary" outlined @click="adder()">
                <v-icon left>
                  mdi-plus
                </v-icon>
                Add Address
              </v-btn>
            </p>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-dialog v-model="addressDialog" fullscreen hide-overlay transition="dialog-right-transition">
      <v-card>
        <v-toolbar>
          <v-btn icon @click="addressDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Address Details</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-row class="justify-center pt-10">
            <v-col cols="12" sm="10" md="8" lg="6">
              <billing-address :address="address" :billing="true" @addressinfo="addressinfo()" />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import BillingAddress from "@/components/forms/BillingAddress";

export default {
  name: "Payment",
  components: {
    FeedBack,
    BillingAddress
  },
  data: () => ({
    message: null,
    feedback: false,
    addnew: false,
    addresses: {},
    address: {},
    item: {
      id: null,
      dispatch: ""
    },
    addressDialog: false
  }),
  computed: {
    subscription() {
      return this.$store.getters.subscriptions[0];
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("subscription/browse");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
      this.addresses = this.subscription.address;
      console.log(this.subscription);
    },
    editor(id) {
      this.item = {
        id: id,
        dispatch: "address/edit"
      };
      this.address = this.addresses.find(add => add.id === id);
      this.addnew = true;
      this.addressDialog = true;
    },
    adder() {
      this.address = {
        line1: null,
        line2: null,
        city: null,
        province: null,
        zip: null,
        country: ""
      };
      this.item = {
        id: null,
        dispatch: "address/add"
      };
      this.addnew = true;
      this.addressDialog = true;
    },
    addressinfo() {
      this.add();
    },
    async remove(id) {
      const response = await this.$store.dispatch("address/trash", { id: id });
      this.message = Dynamic(response);
      this.feedback = true;
      return;
    },
    // async edit() {
    //   const response = await this.$store.dispatch("address/edit", this.address);
    //   this.message = Dynamic(response);
    //   this.feedback = true;
    //   return;
    // },
    // async add() {
    //   const response = await this.$store.dispatch("address/add", this.address);
    //   this.message = Dynamic(response);
    //   this.feedback = true;
    //   return;
    // },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
