<template>
  <div>
    <avatar-upload :item="item" :readonly="readonly" />
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import AvatarUpload from "@/components/multimedia/AvatarUpload";

export default {
  name: "ProductPicture",
  components: { AvatarUpload, FeedBack },
  props: {
    readonly: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  computed: {
    user: {
      get: function() {
        return this.$store.getters.user;
      }
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.initialize(id);
  },
  data() {
    return {
      message: null,
      feedback: false,
      item: {
        id: null,
        picture: null,
        dispatch: "user/avatar"
      }
    };
  },
  methods: {
    async initialize(id) {
      const response = await this.$store.dispatch("user/userinfo", {
        id: id
      });
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
      this.item.id = this.user.id;
      this.item.picture = this.user.picture;
      this.item.dispatch = "user/avatar";
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
