<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Contact Info
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Communication info
      </v-card-subtitle>
      <v-form ref="form" lazy-validation>
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field
                v-model="user.phone"
                :rules="[v => !!v || 'phone number is required']"
                label="Phone Number"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field v-model="user.email" :rules="[v => !!v || 'Email is required']" label="Email" required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-divider></v-divider>
            </v-col>
            <v-col cols="5">
              <v-btn color="success" class="mt-3" @click="edit()">Save</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Personal",
  components: {
    FeedBack
  },
  data() {
    return {
      message: null,
      feedback: false,
      modal: false
    };
  },
  computed: {
    user: {
      get: function() {
        return this.$store.getters.user;
      }
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("user/userinfo");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
    },
    async edit() {
      await this.$store.dispatch("user/edit", this.user);
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
