<template>
  <div>
    <!-- <bread-crumbs /> -->
    <side-nav />
    <bread-crumber />
    <personal v-if="currentRouteName === 'account-personal'" />
    <avatar v-else-if="currentRouteName === 'account-avatar'" />
    <contact v-else-if="currentRouteName === 'account-contact'" />
    <subscription v-else-if="currentRouteName === 'account-subscription'" />
    <payment v-else-if="currentRouteName === 'account-payment'" />
    <acc-address v-else-if="currentRouteName === 'account-address'" />
    <transaction v-else-if="currentRouteName === 'account-transaction'" />
  </div>
</template>

<script>
// import BreadCrumbs from "@/components/misc/BreadCrumbs";
import SideNav from "@/components/misc/SideNav";
import BreadCrumber from "@/components/misc/BreadCrumber";
import Personal from "./personal";
import Avatar from "./avatar";
import Contact from "./contact";
import Subscription from "./subscription";
import Payment from "./payment";
import AccAddress from "./address";
import Transaction from "./transaction";

export default {
  name: "Attribute",
  components: {
    // BreadCrumbs,
    SideNav,
    BreadCrumber,
    Personal,
    Avatar,
    Contact,
    Subscription,
    Payment,
    AccAddress,
    Transaction
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  }
};
</script>
