<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Payments
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Credit Card information and Other types of payment.
      </v-card-subtitle>
      <v-card-text>
        <v-row>
          <v-col cols="12"> </v-col>
          <v-col v-for="card in cards" :key="card.id" cols="12" md="6">
            <div class="">
              <v-card-title class="pb-5">
                {{ card.holder }}
              </v-card-title>
              <v-card-subtitle class="pb-5"> {{ card.month }} / {{ card.year }} </v-card-subtitle>
              <v-card-text>
                <v-btn color="primary" outlined @click="editor(card.id)">
                  Edit
                </v-btn>
                <v-divider vertical />
                <v-btn color="info" plain @click="remove(card.id)">
                  Remove
                </v-btn>
              </v-card-text>
            </div>
          </v-col>
          <v-col cols="12" md="6">
            <p class="pt-15">
              <v-btn color="primary" outlined @click="adder()">
                <v-icon left>
                  mdi-plus
                </v-icon>
                Add payment method
              </v-btn>
            </p>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-dialog v-model="cardDialog" fullscreen hide-overlay transition="dialog-right-transition">
      <v-card>
        <v-toolbar>
          <v-btn icon @click="cardDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Card Details</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-row class="justify-center pt-10">
            <v-col cols="12" sm="10" md="8" lg="6">
              <credit-card :card="card" @cardinfo="cardinfo()" />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import CreditCard from "@/components/forms/CreditCard";

export default {
  name: "Payment",
  components: {
    FeedBack,
    CreditCard
  },
  data() {
    return {
      message: null,
      feedback: false,
      cardDialog: false,
      cards: {},
      card: {}
    };
  },
  computed: {
    subscription() {
      return this.$store.getters.subscriptions[0];
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("subscription/browse");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
      this.cards = this.subscription.card;
      console.log(this.subscription);
    },
    editor(id) {
      this.card = this.cards.find(crd => crd.id === id);
      this.cardDialog = true;
    },
    adder() {
      this.card = {
        holder: "",
        number: "",
        ccv: "",
        month: "",
        year: "",
        saved: true
      };
      this.cardDialog = true;
    },
    cardinfo() {
      this.add();
    },
    async remove(id) {
      const response = await this.$store.dispatch("creditcard/trash", { id: id });
      this.message = Dynamic(response);
      this.feedback = true;
      return;
    },
    async edit() {
      const response = await this.$store.dispatch("creditcard/edit", this.card);
      this.message = Dynamic(response);
      this.feedback = true;
      return;
    },
    async add() {
      const response = await this.$store.dispatch("creditcard/add", this.card);
      this.message = Dynamic(response);
      this.feedback = true;
      return;
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
