<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Personal Info
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Basic info
      </v-card-subtitle>
      <v-form ref="form" lazy-validation>
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <v-text-field v-model="user.fname" :rules="[v => !!v || 'first name is required']" label="First Name" required></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field v-model="user.lname" :rules="[v => !!v || 'last name is required']" label="Last Name" required></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-dialog ref="dialog" v-model="modal" :return-value.sync="user.dob" persistent width="290px">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="user.dob"
                    label="Date Of Birth"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="user.dob" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal = false">
                    Cancel
                  </v-btn>
                  <v-btn text color="primary" @click="$refs.dialog.save(user.dob)">
                    OK
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-divider></v-divider>
            <v-col cols="5">
              <v-btn color="success" class="mt-3" @click="edit()">Save</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Personal",
  components: {
    FeedBack
  },
  data() {
    return {
      message: null,
      feedback: false,
      modal: false
    };
  },
  computed: {
    user: {
      get: function() {
        return this.$store.getters.user;
      }
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("user/userinfo");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
      console.log(this.user);
    },
    async edit() {
      await this.$store.dispatch("user/edit", this.user);
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
