<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Subscription
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        All your subscriptions in the system.
      </v-card-subtitle>
      <v-card-text>
        <v-row>
          <v-col cols="12"> </v-col>
          <v-col v-if="subscription" cols="12" md="4">
            <v-card-title class="pb-5">
              <span v-if="currency"> {{ currency.symbol }} </span>
              <span class="pl-2"> {{ subscription.balance.due }} </span>
            </v-card-title>
            <v-card-subtitle class="pb-5">
              {{ subscription.balance.message }}
            </v-card-subtitle>
            <v-card-text>
              <v-btn color="primary" outlined @click="payDialog = true">
                Make a payment
              </v-btn>
            </v-card-text>
          </v-col>
          <v-col v-if="subscription" cols="12" md="8">
            <p class="pt-5">
              {{ subscription.paymessage }}
            </p>
          </v-col>
          <v-col cols="12">
            <v-divider />
          </v-col>
          <v-col cols="12" md="4">
            <v-card-title class="pb-5">
              Transactions
            </v-card-title>
            <v-card-subtitle class="pb-5">
              View / Download your payment transaction
            </v-card-subtitle>
            <v-card-text>
              <v-btn color="primary" outlined :to="`/account/transaction`">
                Transactions
              </v-btn>
            </v-card-text>
          </v-col>
          <v-col cols="12" md="4">
            <v-card-title class="pb-5">
              Payment Methods
            </v-card-title>
            <v-card-subtitle class="pb-5">
              Add/Remove payment methods
            </v-card-subtitle>
            <v-card-text>
              <v-btn color="primary" outlined :to="`/account/payment`">
                Pay Methods
              </v-btn>
            </v-card-text>
          </v-col>
          <v-col cols="12" md="4">
            <v-card-title class="pb-5">
              Addresses
            </v-card-title>
            <v-card-subtitle class="pb-5">
              Billing & Company / Store address
            </v-card-subtitle>
            <v-card-text>
              <v-btn color="primary" outlined :to="`/account/address`">
                Address
              </v-btn>
            </v-card-text>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-dialog v-model="payDialog" fullscreen hide-overlay transition="dialog-right-transition">
      <v-card>
        <v-toolbar>
          <v-btn icon @click="payDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Payment details</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-row class="justify-center pt-10">
            <v-col cols="12" sm="10" md="8" lg="6">
              <pay :card="cards" :address="addresses" />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import Pay from "@/components/forms/Pay";

export default {
  name: "Subscription",
  components: {
    FeedBack,
    Pay
  },
  data() {
    return {
      message: null,
      feedback: false,
      payDialog: false
    };
  },
  computed: {
    subscription() {
      return this.$store.getters.subscriptions[0];
    },
    currency() {
      return this.$store.getters.currencies.find(select => select.active == true);
    },
    cards() {
      return this.$store.getters.cards;
    },
    addresses() {
      return this.$store.getters.addresses;
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("subscription/browse");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
      const response2 = await this.$store.dispatch("currency/browse");
      if (response2.type !== 0) {
        this.message = Dynamic(response2);
        this.feedback = true;
        return;
      }
      const response3 = await this.$store.dispatch("address/browse");
      if (response3.type !== 0) {
        this.message = Dynamic(response3);
        this.feedback = true;
        return;
      }
      const response4 = await this.$store.dispatch("creditcard/browse");
      if (response4.type !== 0) {
        this.message = Dynamic(response4);
        this.feedback = true;
        return;
      }
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
