<template>
  <v-row align="center" class="list px-3 mx-auto">
    <v-col v-show="false" cols="12" sm="8">
      <v-text-field v-model="searchName" label="Search by Name"></v-text-field>
    </v-col>

    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>
          <date-range :date="date" />
          <v-text-field v-model="searchName" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <template>
            <v-btn color="primary" dark class="mb-2">
              Print
            </v-btn>
          </template>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="transactions"
          :search="searchName"
          :loading="loading"
          loading-text="Loading... Please wait."
        >
          <template v-slot:[`item.amount`]="{ item }"> {{ currency.symbol }} {{ item.amount }} </template>

          <!--           <template v-slot:[`item.actions`]="{ item }">
            <v-icon small class="mr-2" @click="readTransaction(item.id)">
              mdi-eye-settings-outline
            </v-icon>
          </template> -->
        </v-data-table>
      </v-card>
    </v-col>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </v-row>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import { SystemCurrency } from "@/system/config";
import FeedBack from "@/components/feedback/FeedBack";
import DateRange from "@/components/misc/DateRange";
import { isBlank } from "@/utils/validate";
import moment from "moment";

export default {
  name: "Transactions",
  components: { FeedBack, DateRange },
  data() {
    return {
      message: null,
      feedback: false,
      selectedItem: null,
      searchName: "",
      currency: {},
      date: [moment(), moment().subtract(90, "days")],
      headers: [
        { text: "Transaction Date", sortable: false, value: "date" },
        { text: "Description", value: "description", sortable: true },
        { text: "Amount", value: "amount", sortable: true },
        { text: "Balance", value: "balance", sortable: true }
        // { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  created() {
    this.initialize();
  },
  computed: {
    loading: {
      get: function() {
        return isBlank(this.transactions);
      }
    },
    transactions: {
      get: function() {
        return this.$store.getters.transactions;
      }
    }
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("transaction/browse");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
      }
      this.systemcurrency();
    },

    async systemcurrency() {
      this.currency = await SystemCurrency();
    },

    addTransaction() {
      this.$router.push({ name: "add-transaction" });
    },

    readTransaction(id) {
      this.$router.push({ name: "read-transaction", params: { id: id } });
    },

    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
