<template>
  <div>
    <profile :operation="operation" :disabled="disabled" :readonly="readonly" :employee="employee" />
  </div>
</template>

<script>
import Profile from "./components/profile";

export default {
  name: "AddEmployee",
  components: {
    Profile
  },
  data() {
    return {
      operation: "add",
      disabled: false,
      readonly: false,
      employee: {}
    };
  }
};
</script>
