<template>
  <div>
    <v-card color="transparent" elevation="0">
      <formz :employee="employee" :readonly="readonly" :disabled="disabled" />
    </v-card>
  </div>
</template>

<script>
import Formz from "./components/formz";

export default {
  name: "EmployeeEdit",
  components: {
    Formz
  },
  data() {
    return {
      readonly: false,
      disabled: false
    };
  },
  created() {
    this.$store.dispatch("employee/read", this.$route.params.id);
  },
  computed: {
    employee: {
      get: function() {
        return this.$store.getters.employee;
      }
    }
  }
};
</script>
