<template>
  <div>
    <!-- <bread-crumbs /> -->
    <side-nav />
    <bread-crumber />
    <about v-if="currentRouteName === 'settings-about'" />
    <language v-else-if="currentRouteName === 'settings-language'" />
    <region v-else-if="currentRouteName === 'settings-region'" />
    <theme v-else-if="currentRouteName === 'settings-theme'" />
  </div>
</template>

<script>
// import BreadCrumbs from "@/components/misc/BreadCrumbs";
import SideNav from "@/components/misc/SideNav";
import BreadCrumber from "@/components/misc/BreadCrumber";
import About from "./about";
import Language from "./language";
import Region from "./region";
import Theme from "./theme";

export default {
  name: "Attribute",
  components: {
    // BreadCrumbs,
    SideNav,
    BreadCrumber,
    About,
    Language,
    Region,
    Theme
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  }
};
</script>
