<template>
  <v-card color="transparent" elevation="0">
    <v-card-title class="text-center justify-center py-6">
      <h5 class="font-weight-bold">
        Languages
      </h5>
    </v-card-title>
    <v-card-subtitle class="text-center justify-center">
      Language to which the system will respond and communicate with you
    </v-card-subtitle>
    <v-form ref="form" lazy-validation>
      <v-container>
        <v-row>
          <v-col v-for="n in languages" :key="n.id" cols="12" md="4">
            <v-radio-group v-model="language">
              <v-radio :label="`${n.name}`" :value="n.active"></v-radio>
            </v-radio-group>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <feed-back
      :dialog="feedback"
      :message="message"
      @nofeedback="nofeedback()"
    />
  </v-card>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Language",
  components: {
    FeedBack
  },
  data() {
    return {
      message: null,
      feedback: false
    };
  },
  computed: {
    languages: {
      get: function() {
        return this.$store.getters.languages;
      }
    },
    language: {
      get: function() {
        return this.$store.getters.language;
      }
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("language/browse");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
      console.log(this.languages);
    },
    async edit() {
      await this.$store.dispatch("language/edit", this.language);
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
