<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Modules
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Extend your systemc and add what is relevant to your business.
      </v-card-subtitle>
    </v-card>

    <v-row align="center" class="list px-3 mx-auto">
      <v-col v-show="false" cols="12" sm="8">
        <v-text-field v-model="searchName" label="Search by Name"></v-text-field>
      </v-col>

      <v-col cols="12" sm="12">
        <v-card class="mx-auto" tile>
          <v-card-title>
            <v-text-field v-model="searchName" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="extensions"
            :search="searchName"
            :loading="loading"
            loading-text="Loading... Please wait."
          >
            <template v-slot:[`item.icon`]="{ item }">
              <v-icon> {{ item.icon }} </v-icon>
            </template>

            <template v-slot:[`item.used`]="{ item }">
              <v-chip :color="BeingUsed(item.used)">
                {{ item.used }}
              </v-chip>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <v-icon small class="mr-2" @click="readExtensions(item.id)">
                mdi-eye-settings-outline
              </v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic, ThresholdColor } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import { isBlank } from "@/utils/validate";

export default {
  name: "Modules",
  components: {
    FeedBack
  },
  data() {
    return {
      message: null,
      feedback: false,
      searchName: "",
      headers: [
        { text: "#", value: "icon", sortable: true },
        { text: "Title", value: "title", sortable: true },
        { text: "Installed", value: "used", sortable: true },
        { text: "Description", value: "description", sortable: true },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  computed: {
    loading: {
      get: function() {
        return isBlank(this.extensions);
      }
    },
    extensions: {
      get: function() {
        return this.$store.getters.extensions;
      }
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("extension/browse");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
      }
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    },

    BeingUsed(status) {
      return ThresholdColor(status, { greater: 0, lower: 1 }, { greater: "primary", lower: "info" });
    },

    readExtensions(id) {
      this.$router.push({ name: "read-extension", params: { id: id } });
    }
  }
};
</script>
