<template>
  <div>
    <bread-crumber />
    <browse v-if="currentRouteName === 'extensions'" />
    <read v-else-if="currentRouteName === 'read-extension'" />
  </div>
</template>

<script>
import BreadCrumber from "@/components/misc/BreadCrumber";
import Browse from "./browse";
import Read from "./read";

export default {
  name: "Attribute",
  components: {
    BreadCrumber,
    Browse,
    Read
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  }
};
</script>
