<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Module <v-icon v-if="extension.logo"> {{ extension.logo.icon }} </v-icon>
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        {{ extension.description }}
      </v-card-subtitle>
    </v-card>

    <v-row>
      <v-col cols="12">
        <v-container class="px-0" fluid>
          <v-switch v-model="extension.used" :label="`Activated Module`" @change="confirm = true"></v-switch>
        </v-container>
      </v-col>
      <v-col cols="12" md="4"> </v-col>
      <v-col cols="12" md="4"> </v-col>
      <v-col cols="12" md="4"> </v-col>
    </v-row>

    <confirm-module-activation :dialog="confirm" @cancel="cancel()" @activate="activate()" />

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import ConfirmModuleActivation from "@/components/feedback/ConfirmModuleActivation";

export default {
  name: "ModuleRead",
  components: {
    FeedBack,
    ConfirmModuleActivation
  },
  data() {
    return {
      message: null,
      feedback: false,
      stepper: 1,
      confirm: false,
      tab: null,
      items: [
        {
          title: "",
          content: "Entrees"
        },
        {
          title: "",
          content: "Entrees"
        },
        {
          title: "",
          content: "Entrees"
        }
      ]
    };
  },
  computed: {
    extension: {
      get: function() {
        return this.$store.getters.extension;
      }
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.initialize(id);
  },
  methods: {
    async initialize(id) {
      const response = await this.$store.dispatch("extension/read", {
        id: id
      });
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
        return;
      }
      console.log(response);
      console.log(this.extension);
    },
    async activate() {
      const response = await this.$store.dispatch("extension/activate", {
        used: this.extension.used,
        id: this.extension.id
      });
      this.message = Dynamic(response);
      this.feedback = true;
      return;
    },
    nofeedback() {
      this.confirm = false;
      this.feedback = false;
    },

    cancel() {
      this.extension.used = !this.extension.used;
      this.confirm = false;
    }
  }
};
</script>
