<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="category.name"
            :rules="nameRules"
            label="Name"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="category.display_name"
            :rules="nameRules"
            label="Display Name"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="12">
          <v-textarea
            v-model="category.description"
            auto-grow
            label="Description"
            rows="1"
            :disabled="disabled"
            :readonly="readonly"
          ></v-textarea>
        </v-col>
        <v-divider class="my-5"></v-divider>
        <v-btn v-if="operation === 'add'" :disabled="!valid" color="primary" class="mt-3" @click="add()">Save</v-btn>
        <v-btn v-if="operation === 'edit'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { validAlphabetNSpace } from "@/utils/validate";

export default {
  name: "DT", // Datatable
  props: {
    category: {
      type: Object,
      default() {
        return {
          name: null,
          display_name: null,
          description: null
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data: () => ({
    valid: true,
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length > 1) || "Name must have more than 1 alphabets",
      v => (v && v.length < 35) || "Name must have less than 35 alphabets",
      v => validAlphabetNSpace(v) || "English alphabets expected, and or spaces"
    ]
  }),
  methods: {
    add() {
      if (this.$refs.form.validate()) this.$emit("add");
    },
    edit() {
      if (this.$refs.form.validate()) this.$emit("edit");
    }
  }
};
</script>
