<template>
  <base-section id="info-alt" space="56">
    <v-container>
      <v-row justify="space-between">
        <v-col cols="12" md="5">
          <base-info-card title="KEEP IN TOUCH WITH US" pace="6">
            We would love to here from you. Use form to make queries
          </base-info-card>
        </v-col>

        <v-col cols="12" md="6">
          <base-contact-form title="MAIL US YOUR MESSAGE" />
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
export default {
  name: "SectionKeepInTouch"
};
</script>
