<template>
  <base-section id="pro-features">
    <base-section-heading title="Login">
      Access your accont
    </base-section-heading>
    <v-container fluid>
      <v-layout flex align-center justify-center>
        <v-flex xs12 sm4 elevation-6>
          <v-card :loading="isLoading">
            <v-alert v-if="errors.email" text prominent type="error" icon="mdi-cloud-alert">
              {{ errors.email }}
            </v-alert>
            <v-card-text class="pt-4">
              <div>
                <v-form v-model="valid" ref="form">
                  <v-text-field
                    label="Enter your e-mail address"
                    v-model="form.email"
                    prepend-icon="mdi-account"
                    :rules="emailRules"
                    required
                  ></v-text-field>
                  <v-text-field
                    label="Enter your password"
                    v-model="form.password"
                    prepend-icon="mdi-lock-question"
                    type="password"
                    :rules="passwordRules"
                    counter
                    required
                  ></v-text-field>
                  <v-layout justify-space-between>
                    <v-btn
                      @click="submit"
                      :class="{
                        'blue darken-4 white--text': valid,
                        disabled: !valid
                      }"
                      >Login</v-btn
                    >
                  </v-layout>
                </v-form>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </base-section>
</template>

<script>
import { validEmail } from "@/utils/validate";
// import MessageBox from "@/utils/misc";

export default {
  name: "Login",
  data() {
    return {
      isLoading: false,
      valid: false,
      form: {
        password: "",
        email: "",
        device_name: "browser" // 'Windows, Linx, IOS, Android, etc....'
      },
      passwordRules: [v => !!v || "Password is required"],
      emailRules: [v => !!v || "E-mail is required", v => validEmail(v) || "E-mail must be valid"],
      errors: {}
    };
  },
  methods: {
    async submit() {
      this.isLoading = true;
      if (this.$refs.form.validate()) {
        const response = await this.$store.dispatch("user/login", this.form);
        if (response.type === 0) this.$router.push("/dashboard");
        else this.errors.email = "Invalid Credentials !!";
        console.log("NV");
        this.loading = false;
      } else {
        this.errors.email = "Invalid Credentials !!";
        console.log("NV");
      }
      this.isLoading = false;
    }
  }
};
</script>
