<template>
  <base-section id="pro-features">
    <base-section-heading title="Modules Available">
      To fulfil your business needs you can make a selection that's just right for you and just right for your budget.
    </base-section-heading>

    <v-container>
      <v-row dense>
        <v-col v-for="item in features" :key="item" cols="12" md="3" sm="6">
          <v-card>
            <v-card-title class="headline">
              {{ item.name }}
            </v-card-title>
            <v-card-subtitle>{{ item.description }}</v-card-subtitle>
            <v-card-actions>
              <v-btn text> R {{ item.price }}<sup>c</sup></v-btn>
              <i>per day</i>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
export default {
  name: "SectionProChart",

  data: () => ({
    features: [
      {
        name: "Employee Management",
        description: "Employee contracts, system roles & permissions",
        price: "0.99"
      },
      {
        name: "Roster/Schedule",
        description: "Complements employee module. Automated & Manual employee tasking",
        price: "0.99"
      },
      {
        name: "Payrolls",
        description: "Complements employee module. Allows payroll management & reporting",
        price: "0.79"
      },
      {
        name: "Employee Ratings",
        description: "Know he employees that are best performing.",
        price: "0.19"
      },
      {
        name: "Multi-Language",
        description: "Support for multiple languages.",
        price: "0.19"
      },
      {
        name: "E-Commerce",
        description: "Allow your customers to interect with your business products online.",
        price: "1.35"
      },
      {
        name: "Teller Machine",
        description: "Cashier interface for system interactions.",
        price: "0.99"
      },
      {
        name: "Multiple Paymethods",
        description: "Pay with crypto, credit card, vouchers, etc",
        price: "1.99"
      },
      {
        name: "Reporting",
        description: "Get reports on how your business is performing, number of sales, etc.",
        price: "2.49"
      },
      {
        name: "STO",
        description: "Stock Transfer Order, if you have multi departments in your business.",
        price: "2.49"
      },
      {
        name: "Customers",
        description: "Give customer loyalty points and specific customer discounts.",
        price: "1.49"
      },
      {
        name: "Newsletter",
        description: "Compliments customer module. Send targeted ads to your customers.",
        price: "0.49"
      },
      {
        name: "Orders & Vendors",
        description: "Manage & know your orders & vendors. Set automatic inventory orders for specific products.",
        price: "1.29"
      },
      {
        name: "Tips & Predictions",
        description: "Get daily tips on how you can better your business based on your current performance.",
        price: "0.29"
      },
      {
        name: "Affiliate Program",
        description: "Setup an affiliate program to assist your clientèle.",
        price: "0.99"
      }
    ]
  })
};
</script>
