<template>
  <v-app>
    <base-section id="pro-features">
      <base-section-heading title="Register">
        Create an account and promote your business
      </base-section-heading>
      <v-container fluid>
        <v-layout flex align-center justify-center>
          <v-flex xs12 md6>
            <v-card :loading="isLoading">
              <v-alert v-if="errors.email" text prominent type="error" icon="mdi-cloud-alert">
                {{ errors.email }}
              </v-alert>
              <v-card-text class="pt-4">
                <div>
                  <v-form v-model="valid" ref="form">
                    <v-row>
                      <v-col>
                        <v-text-field
                          label="Business Name"
                          v-model="form.businessname"
                          prepend-icon="mdi-rename-box"
                          :rules="nameRules"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          label="E-Mail address"
                          v-model="form.email"
                          prepend-icon="mdi-account"
                          :rules="emailRules"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          label="Password"
                          v-model="form.password"
                          prepend-icon="mdi-lock-question"
                          type="password"
                          :rules="passwordRules"
                          counter
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <v-text-field
                          label="Confirm Password"
                          v-model="form.passwordC"
                          prepend-icon="mdi-lock-question"
                          type="password"
                          :rules="passwordRules"
                          counter
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <!-- <v-checkbox
                          v-model="form.agree"
                          :rules="[
                            (v) =>
                              !!v || 'You must accpet in order to continue!',
                          ]"
                          label="Accept terms of use ?"
                          required
                        ></v-checkbox> -->
                      </v-col>
                    </v-row>
                    <v-layout justify-space-between>
                      <v-btn
                        @click="submit"
                        :class="{
                          'blue darken-4 white--text': valid,
                          disabled: !valid
                        }"
                        >Login</v-btn
                      >
                    </v-layout>
                  </v-form>
                </div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </base-section>
  </v-app>
</template>

<script>
import { validEmail } from "@/utils/validate";

export default {
  name: "Signup",
  data() {
    return {
      isLoading: false,
      valid: false,
      form: {
        businessname: "",
        email: "",
        country: "",
        agree: true,
        password: "",
        passwordC: ""
      },
      passwordRules: [v => !!v || "Password is required"],
      emailRules: [v => !!v || "E-mail is required", v => validEmail(v) || "E-mail must be valid"],
      nameRules: [v => !!v || "Cannot be null"],
      errors: {}
    };
  },
  methods: {
    submit() {
      this.isLoading = true;
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch("user/register", this.form)
          .then(() => {
            this.$router.push("/G/verify-email");
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
      } else {
        this.errors.email = "Invalid Credentials !!";
        console.log("NV");
      }
      this.isLoading = false;
    }
  }
};
</script>

<style>
#app {
  background-size: cover;
  overflow: hidden;
}

.photoCredit {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
</style>
