<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Add New Category
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Add a new category for categorising categorys and/or services
      </v-card-subtitle>
      <formz :category="category" :readonly="readonly" :operation="operation" @add="add()" />
    </v-card>

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import Formz from "./components/formz";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Category",
  components: {
    Formz,
    FeedBack
  },
  data() {
    return {
      readonly: false,
      operation: "add",
      message: null,
      feedback: false
    };
  },
  computed: {
    category: {
      get: function() {
        return {};
      }
    }
  },
  methods: {
    async add() {
      console.log(this.category);
      const response = await this.$store.dispatch("category/add", this.category);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
