<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Edit Category Information
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Category of product or service
      </v-card-subtitle>
      <formz :category="category" :operation="operation" :readonly="readonly" @edit="edit()" />
    </v-card>

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import Formz from "./components/formz";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "ProductsEdit",
  components: {
    Formz,
    FeedBack
  },
  data() {
    return {
      readonly: false,
      operation: "edit",
      message: null,
      feedback: false
    };
  },
  created() {
    this.$store.dispatch("category/edit", this.$route.params.id);
  },
  computed: {
    category: {
      get: function() {
        return this.$store.getters.category;
      }
    }
  },
  methods: {
    async edit() {
      console.log(this.category);
      const response = await this.$store.dispatch("category/edit", this.category);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
