<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Category Information
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Categorise products and services
      </v-card-subtitle>
      <formz :category="category" :readonly="readonly" :disabled="disabled" />
    </v-card>
  </div>
</template>

<script>
import Formz from "./components/formz";

export default {
  name: "CategoryRead",
  components: {
    Formz
  },
  data() {
    return {
      readonly: true,
      disabled: true
    };
  },
  created() {
    this.$store.dispatch("category/read", this.$route.params.id);
  },
  computed: {
    category: {
      get: function() {
        return this.$store.getters.category;
      }
    }
  }
};
</script>
