<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.id" label="Sale ID" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.tendered" label="Tendered" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.tip" label="Tip" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.discount" label="Discount" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.vat" label="VAT" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.other_tax" label="Other Tax" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.sub_total" label="Sub Total" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.grant_total" label="Grand Total" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.reg_change" label="Change" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.created_at" label="Created At" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.updated_at" label="Updated At" :disabled="true" :readonly="true"></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field v-model="sale.status" label="Status" :disabled="disabled" :readonly="readonly"></v-text-field>
          </v-col>
          <v-divider class="my-5"></v-divider>
          <v-btn v-if="operation === 'add'" :disabled="!valid" color="primary" class="mt-3" @click="add()">Save</v-btn>
          <v-btn v-if="operation === 'edit'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import { validAlphabetNSpace } from "@/utils/validate";

export default {
  name: "DT", // Datatable
  props: {
    sale: {
      type: Object,
      default() {
        return {};
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data: () => ({
    valid: true,
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length > 1) || "Name must have more than 1 alphabets",
      v => (v && v.length < 35) || "Name must have less than 35 alphabets",
      v => validAlphabetNSpace(v) || "English alphabets expected, and or spaces"
    ]
  }),
  methods: {
    add() {
      if (this.$refs.form.validate()) this.$emit("add");
    },
    edit() {
      if (this.$refs.form.validate()) this.$emit("edit");
    }
  }
};
</script>
