<template>
  <div>
    <v-card color="transparent" elevation="0">
      <formz :sale="sale" :readonly="readonly" :disabled="disabled" />
    </v-card>
  </div>
</template>

<script>
import Formz from "./components/formz";

export default {
  name: "AddSale",
  components: {
    Formz
  },
  data() {
    return {
      readonly: false,
      disabled: false,
      sale: {}
    };
  }
};
</script>
