<template>
  <div>
    <browse :items="items" :headers="headers" :search="search" :parent="parent" :slug="slug" @remove="remove" />
    <confirm-soft-delete :dialog="trashfeed" @notrash="notrash()" @trash="trash()" />
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import Browse from "@/components/bread/browse";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import ConfirmSoftDelete from "@/components/feedback/ConfirmSoftDelete";

export default {
  name: "Sales",
  components: {
    Browse,
    FeedBack,
    ConfirmSoftDelete
  },
  data() {
    return {
      slug: "sale",
      parent: "shop",
      search: "",
      message: null,
      feedback: false,
      trashfeed: false,
      item: null,
      headers: [
        { text: "Sale ID", align: "start", sortable: false, value: "id" },
        { text: "Cashier", sortable: true, value: "cashier" },
        { text: "Sub Total", value: "sub_total", sortable: true },
        { text: "Status", value: "status", sortable: true },
        { text: "Grand Total", value: "grand_total", sortable: true },
        { text: "Date", value: "created_at", sortable: true },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  created() {
    this.$store.dispatch("sale/browse");
  },
  computed: {
    items: {
      get: function() {
        return this.$store.getters.sales;
      }
    }
  },
  methods: {
    async remove(id) {
      this.trashfeed = true;
      this.item = id;
    },
    nofeedback() {
      this.feedback = false;
      this.trashfeed = false;
    },

    notrash() {
      this.trashfeed = false;
    },

    async trash() {
      const response = await this.$store.dispatch("sale/trash", { id: this.item });
      this.message = Dynamic(response);
      this.feedback = true;
    }
  }
};
</script>
