<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="currency.code"
            :rules="codeRules"
            label="Code"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="currency.name"
            :rules="nameRules"
            label="Name"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="currency.symbol"
            :rules="symbolRules"
            label="Symbol"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-checkbox v-model="currency.active" :label="`Actively used`" :disabled="disabled" :readonly="readonly"></v-checkbox>
        </v-col>
        <v-col cols="12" md="12">
          <v-textarea
            v-model="currency.description"
            auto-grow
            label="Description"
            rows="1"
            :disabled="disabled"
            :readonly="readonly"
          ></v-textarea>
        </v-col>
        <v-divider class="my-5"></v-divider>
        <v-btn v-if="operation === 'add'" :disabled="!valid" color="primary" class="mt-3" @click="add()">Save</v-btn>
        <v-btn v-if="operation === 'edit'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { validAlphabetNSpace, validAlphabets } from "@/utils/validate";

export default {
  name: "DT", // Datatable
  props: {
    currency: {
      type: Object,
      default() {
        return {
          code: null,
          name: null,
          symbol: null,
          active: null,
          description: null
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data: () => ({
    valid: true,
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length > 1) || "Name must have more than 1 alphabets",
      v => (v && v.length < 15) || "Name must have less than 15 alphabets",
      v => validAlphabetNSpace(v) || "English alphabets expected, and or spaces"
    ],
    codeRules: [
      v => !!v || "Code is required",
      v => (v && v.length == 3) || "Code must contain 3 english alphabets",
      v => validAlphabets(v) || "Code must contain english alphabets only"
    ],
    symbolRules: [
      v => !!v || "Symbol is required",
      v => (v && v.length >= 1) || "Symbol can only contain 1 - 3 characters",
      v => (v && v.length <= 3) || "Symbol can only contain 1 - 3 characters"
    ]
  }),
  methods: {
    add() {
      if (this.$refs.form.validate()) this.$emit("add");
    },
    edit() {
      if (this.$refs.form.validate()) this.$emit("edit");
    }
  }
};
</script>
