<template>
  <v-row align="center" class="list px-3 mx-auto">
    <v-col v-show="false" cols="12" sm="8">
      <v-text-field v-model="search" label="Search by Name"></v-text-field>
    </v-col>

    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>
          {{ slug }}
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <template>
            <v-btn color="primary" dark class="mb-2" @click="create()">
              Add New
            </v-btn>
          </template>
        </v-card-title>
        <v-data-table :headers="headers" :items="items" :search="search" :loading="loading" loading-text="Loading... Please wait">
          <template v-slot:[`item.picture`]="{ item }">
            <v-avatar>
              <v-icon v-if="!item.picture">
                mdi-image
              </v-icon>
              <img v-else alt="Picture" :src="item.picture" />
            </v-avatar>
          </template>
          <template v-slot:[`item.avatar`]="{ item }">
            <v-avatar>
              <v-icon v-if="!item.avatar">
                mdi-image
              </v-icon>
              <img v-else alt="Avatar" :src="item.avatar" />
            </v-avatar>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon v-if="action.read" small class="mr-2" @click="read(item.id)">
              mdi-eye
            </v-icon>
            <v-icon v-if="action.edit" small class="mr-2" @click="edit(item.id)">
              mdi-pencil
            </v-icon>
            <v-icon v-if="action.delete" small @click="remove(item.id)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { isBlank } from "@/utils/validate";

export default {
  name: "DT", // Datatable
  props: {
    search: {
      type: String,
      default() {
        return "";
      }
    },
    headers: {
      type: Array,
      default() {
        return [];
      }
    },
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    parent: {
      type: String,
      default() {
        return "";
      }
    },
    slug: {
      type: String,
      default() {
        return "";
      }
    },
    action: {
      type: Object,
      default() {
        return {
          delete: true,
          read: true,
          edit: true
        };
      }
    }
  },
  computed: {
    loading: {
      get: function() {
        return isBlank(this.items);
      }
    }
  },
  methods: {
    create() {
      console.log(`/${this.parent}/${this.slug}/add`);
      this.$router.push({ path: `/${this.parent}/${this.slug}/add` });
    },
    read(id) {
      this.$router.push({ path: `/${this.parent}/${this.slug}/read/${id}` });
    },
    edit(id) {
      this.$router.push({ path: `/${this.parent}/${this.slug}/edit/${id}` });
    },
    remove(id) {
      this.$emit("remove", id);
    }
  }
};
</script>
