<template>
  <div class="no-pm">
    <v-row>
      <v-col cols="6" sm="4" md="8">
        <v-breadcrumbs :items="items" class="no-pm">
          <template v-slot:divider>
            <v-icon>mdi-chevron-right</v-icon>
          </template>
          <template v-slot:item="{ item }">
            <v-breadcrumbs-item :href="item.href" :link="false">
              {{ item.text }}
            </v-breadcrumbs-item>
          </template>
        </v-breadcrumbs>
      </v-col>
      <v-col cols="6" sm="4">
        <v-text-field v-if="searchable" v-model="search" append-icon="mdi-magnify" label="Search"></v-text-field>
      </v-col>
    </v-row>
    <v-divider />
  </div>
</template>

<script>
import { isBlank } from "@/utils/validate";
import { UpperFirst } from "@/utils/algo";

export default {
  created() {
    this.initialize();
  },
  props: {
    slug: {
      type: String,
      default() {
        return "";
      }
    },
    parent: {
      type: String,
      default() {
        return "";
      }
    },
    id: {
      type: String,
      default() {
        return "";
      }
    },
    searchable: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      search: ""
    };
  },
  computed: {
    items: {
      get: function() {
        return this.initialize();
      },
      set: function() {}
    }
  },
  methods: {
    initialize() {
      var items = [];
      this.$route.meta.breadCrumb.forEach(route => {
        let to = route.to;
        let text = route.text;
        if (!isBlank(this.slug)) {
          to = route.to.replace(":slug", this.slug);
          to = route.to.replace(":parent", this.parent);
          text += UpperFirst(this.slug);
        }
        if (!isBlank(this.id)) to = route.to.replace(":id", this.id);
        items.push({
          text: text,
          disabled: false,
          href: to
        });
      });
      return items;
    }
  }
};
</script>

<style type="text/css">
.no-pm: {
  padding: 0;
  margin: 0;
}
</style>
