<template>
  <v-row>
    <v-col cols="12" sm="3">
      <v-text-field v-model="start" label="Start" prepend-icon="mdi-calendar" readonly @click="dialog = true"></v-text-field>
    </v-col>
    <v-col cols="12" sm="3">
      <v-text-field v-model="end" label="End" prepend-icon="mdi-calendar" readonly @click="dialog = true"></v-text-field>
    </v-col>
    <v-dialog v-if="dialog" v-model="dialog" persistent max-width="290">
      <v-card>
        <v-date-picker v-model="dates" range></v-date-picker>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="
              dialog = false;
              setup();
            "
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import moment from "moment";

export default {
  props: {
    dates: {
      // eslint-disable-next-line vue/require-prop-type-constructor
      type: Array,
      required: false,
      default: function() {
        return [
          moment().format("YYYY-MM-DD"),
          moment()
            .subtract(30, "days")
            .format("YYYY-MM-DD")
        ];
      }
    }
  },
  data: () => ({
    dialog: false
  }),
  computed: {
    start() {
      return this.dates[0];
    },
    end() {
      return this.dates[1];
    }
  },
  setup() {
    this.$emit("daterange");
  }
};
</script>
