<template>
  <v-row align="center" class="">
    <v-col v-show="false" cols="12" sm="8">
      <v-text-field v-model="search" label="Avoiding Direct Mutation"></v-text-field>
    </v-col>
    <v-col cols="12" sm="12">
      <v-card class="mx-auto" tile>
        <v-card-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-data-table :headers="headers" :items="items" :search="search" :loading="loading" loading-text="Loading... Please wait">
          <template v-slot:[`item.picture`]="{ item }">
            <v-avatar>
              <v-icon v-if="!item.picture">
                mdi-image
              </v-icon>
              <img v-else alt="Picture" :src="item.picture" />
            </v-avatar>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn @click="add_to_cart(item)">
              <v-icon small class="mr-2">
                mdi-plus
              </v-icon>
              Add
            </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { isBlank } from "@/utils/validate";

export default {
  name: "DT", // Datatable
  props: {
    search: {
      type: String,
      default() {
        return "";
      }
    },
    headers: {
      type: Array,
      default() {
        return [];
      }
    },
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    parent: {
      type: String,
      default() {
        return "";
      }
    },
    slug: {
      type: String,
      default() {
        return "";
      }
    },
    action: {
      type: Object,
      default() {
        return {
          delete: true,
          read: true,
          edit: true
        };
      }
    }
  },
  computed: {
    loading: {
      get: function() {
        return isBlank(this.items);
      }
    }
  },
  methods: {
    add_to_cart(item) {
      this.$store.dispatch("cart/add", item);
      this.$store.dispatch("cart/carted");
    }
  }
};
</script>
