<template>
  <v-navigation-drawer app fixed :mini-variant="mini" :value="status" class="">
    <v-app-bar class="" elevation="0">
      <v-icon @click="mini = !mini"> mdi-circle </v-icon>
    </v-app-bar>
    <v-divider></v-divider>
    <v-list dense>
      <v-list-item-group v-model="selectedItem" color="primary">
        <v-list-item v-for="(item, i) in items" :key="i" link :to="item.url">
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content v-model="status">
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { SearchObject } from "@/utils/algo";

export default {
  name: "Layout",
  data: () => ({
    mini: true,
    selectedItem: 1,
    items: []
  }),
  computed: {
    status: {
      get: function() {
        return this.$store.getters.sidebar;
      }
    }
  },
  created() {
    this.$router.options.routes.forEach(route => {
      if (route.children) {
        let found = false;
        route.children.forEach(child => {
          if (SearchObject(child, "name", this.$route.name)) {
            found = true;
          }
        });
        if (found) {
          route.children.forEach(child => {
            this.items.push({
              title: child.meta.title,
              url: child.path,
              icon: child.meta.icon
            });
          });
        }
      }
    });
    if (this.items.length > 0) this.$store.dispatch("settings/haschildren", true);
  },
  methods: {
    showSideBar() {
      this.$store.dispatch("settings/sidebar");
    }
  }
};
</script>
