<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          FAQ
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Frequently Asked Questions
      </v-card-subtitle>
      <v-card-text>
        <v-row justify="center">
          <v-expansion-panels accordion>
            <v-expansion-panel v-for="(item, i) in 5" :key="i">
              <v-expansion-panel-header>Question {{ i + 1 }}</v-expansion-panel-header>
              <v-expansion-panel-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>
      </v-card-text>
    </v-card>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "FAQ",
  components: {
    FeedBack
  },
  data() {
    return {
      message: null,
      feedback: false
    };
  },
  methods: {
    initialize() {
      Dynamic("Init");
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
