<template>
  <div>
    <side-nav />
    <bread-crumber />
    <getting-started v-if="currentRouteName === 'help-getting-started'" />
    <how-to v-else-if="currentRouteName === 'help-how-to'" />
    <help-video v-else-if="currentRouteName === 'help-videos'" />
    <f-a-q v-else-if="currentRouteName === 'help-faq'" />
  </div>
</template>

<script>
import SideNav from "@/components/misc/SideNav";
import BreadCrumber from "@/components/misc/BreadCrumber";
import GettingStarted from "./getting-started";
import HowTo from "./how-to";
import HelpVideo from "./video";
import FAQ from "./faq";

export default {
  name: "Attribute",
  components: {
    SideNav,
    BreadCrumber,
    GettingStarted,
    HowTo,
    FAQ,
    HelpVideo
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  }
};
</script>
