<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Video
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Visual way of assistance
      </v-card-subtitle>
      <v-card-text>
        <v-row>
          <v-col cols="12"> </v-col>
          <v-col v-for="(item, i) in 5" :key="i" cols="12" md="4">
            <v-card class="mx-auto">
              <video-player :options="videoOptions" />
              <v-card-subtitle class="pb-0"> Level {{ i }} of understanding </v-card-subtitle>
              <v-card-text class="text--primary">
                <div>
                  <p>
                    Lorem scrum doodley doo. boo you
                  </p>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-btn color="orange" text>
                  Share
                </v-btn>
                <v-btn color="orange" text>
                  Explore
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import VideoPlayer from "@/components/misc/VideoPlayer.vue";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "HelpVideo",
  components: {
    FeedBack,
    VideoPlayer
  },
  data() {
    return {
      message: null,
      feedback: false,
      videoOptions: {
        autoplay: false,
        controls: true,
        fluid: true,
        sources: [
          {
            src: "http://vjs.zencdn.net/v/oceans.mp4",
            type: "video/mp4"
          }
        ]
      }
    };
  },
  methods: {
    initialize() {
      Dynamic("Init");
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
