<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-info-card title="KEEP IN TOUCH WITH US" pace="6">
        We would love to here from you. Use form to make queries
      </base-info-card>

      <base-business-contact dense />
    </div>
  </v-theme-provider>
</template>

<script>
export default {
  name: "BaseBusinessInfo",

  props: { dark: Boolean },

  data: () => ({
    business: [
      {
        icon: "mdi-map-marker-outline",
        title: "Address",
        text: "05 Ferandale St.<br>Humewood, Port Eizabeth 6001"
      },
      {
        icon: "mdi-cellphone",
        title: "Phone",
        text: "+27 (41) 356 890<br>+27 (41) 098 653"
      },
      {
        icon: "mdi-email",
        title: "Email",
        text: "info@phiscus.com<br>support@phiscus.com"
      }
    ]
  })
};
</script>
