<template>
  <div>
    <base-info-card :title="title" :subtitle="subtitle" space="4" color="primary" ref="form" />
    <v-form ref="form">
      <base-text-field label="Name" v-model="form.name" :rules="alphaRules" required />

      <base-text-field label="Email" v-model="form.email" :rules="emailRules" required />

      <base-text-field label="Subject" v-model="form.subject" :rules="alphaRules" required />

      <base-textarea class="mb-6" label="Your Need & Description" v-model="form.message" :rules="alphaRules" required />

      <base-btn :color="!theme.isDark ? 'accent' : 'white'" outlined target="_blank" @click="send()">
        Send message
      </base-btn>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import FeedBack from "@/components/feedback/FeedBack";
import { validEmail, validAlphabetNSpace } from "@/utils/validate";

export default {
  name: "BaseContactForm",
  components: { FeedBack },
  // Injected from the Vuetify Themeable mixin
  inject: ["theme"],

  props: {
    subtitle: String,
    title: {
      type: String,
      default: "MAIL US YOUR MESSAGE"
    }
  },
  data() {
    return {
      form: {
        subject: null,
        message: null,
        email: null,
        name: null
      },
      feedback: false,
      message: {
        message: "Thank You for contacting us. We will get back at you soon",
        color: "dark"
      },
      emailRules: [v => !!v || "E-mail is required", v => validEmail(v) || "E-mail must be valid"],
      alphaRules: [v => !!v || "Hey! I'm required", v => validAlphabetNSpace(v) || "I only need english alphabets and spaces"]
    };
  },
  methods: {
    nofeedback() {
      this.feedback = false;
    },
    send() {
      if (this.$refs.form.validate()) this.feedback = true;
    }
  }
};
</script>
