<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-img :src="require('@/assets/name-logo-dark.png')" contain max-width="128" min-height="78" width="100%" />

      <base-title size="body-1" space="4" title="Multi-Present POS" weight="regular" />

      <base-body>
        Making sales possible no matter how big a pandemic, or electric black out (Load Shedding).
      </base-body>

      <base-btn class="mb-12" color="white" outlined to="/G/about">
        More Info
      </base-btn>
    </div>
  </v-theme-provider>
</template>

<script>
export default {
  name: "BaseInfo",

  props: {
    title: String,
    dark: Boolean
  },

  data: () => ({
    business: [
      {
        icon: "mdi-map-marker-outline",
        title: "Address",
        text: "05 Ferandale St.<br>Humewood, Port Eizabeth 6001"
      },
      {
        icon: "mdi-cellphone",
        title: "Phone",
        text: "+27 (41) 356 890<br>+27 (41) 098 653"
      },
      {
        icon: "mdi-email",
        title: "Email",
        text: "info@phiscus.com<br>support@phiscus.com"
      }
    ]
  })
};
</script>
