<template>
  <v-app id="inspire">
    <navbar :drawer="drawer" />
    <v-divider></v-divider>
    <app-menu :drawer="drawer" />
    <v-main class="">
      <v-container fluid>
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "./components/navbar";
import AppMenu from "./components/appmenu";

export default {
  name: "Layout",
  components: {
    Navbar,
    AppMenu
  },
  data: () => ({
    drawer: false
  }),
  methods: {
    drawerStatus(val) {
      this.drawer = val;
    }
  }
};
</script>
