<template>
  <v-dialog v-if="items" v-model="status" persistent max-width="900">
    <v-card>
      <v-container fluid>
        <v-row v-model="selectedItem">
          <v-col v-for="(item, i) in items" :key="i" cols="12" sm="3" justify-center border>
            <v-card width="100%" link :to="item.url" @click="showDrawer()">
              <v-card-title class="text-center">
                <v-spacer></v-spacer>
                <v-icon v-text="item.icon" large></v-icon>
                <v-spacer></v-spacer>
              </v-card-title>
              <v-card-text class="font-weight-bold text-center">
                {{ item.title }}
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="showDrawer()">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { isBlank } from "@/utils/validate";

export default {
  data() {
    return {
      selectedItem: 1,
      items: []
    };
  },
  computed: {
    status: {
      get: function() {
        return this.$store.getters.drawer;
      }
    }
  },
  mounted() {
    this.initialize();
  },
  methods: {
    initialize() {
      const router = this.$router.options.routes;
      if (!isBlank(router)) {
        router
          .forEach(route => {
            if (typeof route.meta !== "undefined")
              if (typeof route.meta.hidden === "undefined" || route.meta.hidden === false)
                if (route.meta.slug !== "undefined" && route.meta.title !== "undefined")
                  this.items.push({
                    title: route.meta.title,
                    url: route.path,
                    icon: route.meta.icon
                  });
          })
          .catch(e => {
            console.log(e);
            this.initialize();
          });
      }
    },
    showDrawer() {
      // if (isBlank(this.items)) this.initialize();
      this.$store.dispatch("settings/drawer");
    }
  }
};
</script>
