<template>
  <v-app-bar app class="" elevation="0">
    <v-toolbar flat>
      <v-btn v-if="haschildren" icon @click="showSideBar()">
        <v-icon>mdi-scatter-plot-outline</v-icon>
      </v-btn>
      <v-divider vertical />
      <v-btn icon @click="showDrawer()">
        <v-icon>mdi-apps</v-icon>
      </v-btn>
    </v-toolbar>
    <v-menu v-if="user.name" bottom min-width="200px" rounded offset-y>
      <template v-slot:activator="{ on }">
        <v-btn icon x-large v-on="on">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-list-item-content class="justify-center">
          <div class="mx-auto text-center">
            <v-avatar color="brown">
              <span class="white--text headline">{{ user.name.slice(0, 1) }}</span>
            </v-avatar>
            <h3>{{ user.name }}</h3>
            <p class="caption mt-1">
              {{ user.email }}
            </p>
            <v-divider class="my-3"></v-divider>
            <v-btn depressed rounded text @click="logout">
              Disconnect
            </v-btn>
          </div>
        </v-list-item-content>
      </v-card>
    </v-menu>
  </v-app-bar>
</template>

<script>
export default {
  name: "Navbar",
  computed: {
    user: {
      get: function() {
        return this.$store.getters.user;
      }
    },
    title: {
      get: function() {
        return this.$store.getters.title;
      }
    },
    sidebar: {
      get: function() {
        return this.$store.getters.sidebar;
      }
    },
    haschildren: {
      get: function() {
        return this.$store.getters.haschildren;
      }
    }
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      await this.$store.dispatch("user/userinfo");
    },
    showSideBar() {
      this.$store.dispatch("settings/sidebar");
    },
    showDrawer() {
      this.$store.dispatch("settings/drawer");
    },
    logout() {
      this.$store.dispatch("user/logout");
      this.$router.push("/G/login");
    }
  }
};
</script>
