<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" md="3">
        <v-card class="">
          <v-avatar size="300">
            <v-icon v-if="!item.picture">
              mdi-account-circle
            </v-icon>
            <img v-else alt="Picture" :src="item.picture" />
          </v-avatar>
        </v-card>
      </v-col>
      <v-col v-if="!readonly" cols="12" md="9">
        <!-- -->
        <v-card max-height="720" raised="raised">
          <v-card-title>
            <v-icon color="secondary" left="left">mdi-account-box</v-icon>
            <span>Picture cropper</span>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" :disabled="!objectUrl" @click="submit">
                <v-icon left="left">mdi-send</v-icon><span>Submit</span>
              </v-btn>
            </v-card-actions>
          </v-card-title>
          <v-card-text>
            <v-file-input
              class="my-4"
              v-model="avatar"
              accept="image/png, image/jpeg"
              label="File"
              placeholder="Select a file"
              :show-size="1024"
              @change="setupCropper"
            ></v-file-input>
            <v-row v-if="objectUrl">
              <v-col class="text-center" cols="12" sm="6">
                <div class="overline">Original</div>
                <div class="image-container elevation-4">
                  <img class="image-preview" ref="source" :src="objectUrl" />
                </div>
                <div class="d-flex justify-center">
                  <v-btn icon="icon" small="small" @click="resetCropper">
                    <v-icon small="small">mdi-aspect-ratio</v-icon>
                  </v-btn>
                  <div class="mx-2"></div>
                  <v-btn icon="icon" small="small" @click="rotateLeft">
                    <v-icon small="small">mdi-rotate-left</v-icon>
                  </v-btn>
                  <v-btn icon="icon" small="small" @click="rotateRight">
                    <v-icon small="small">mdi-rotate-right</v-icon>
                  </v-btn>
                </div>
              </v-col>
              <v-col class="text-center" cols="12" sm="6">
                <div class="overline">Preview</div>
                <div class="image-container elevation-4">
                  <img class="image-preview" :src="previewCropped" />
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </v-container>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import Cropper from "cropperjs";
import debounce from "lodash/debounce";

export default {
  name: "AvatarUpload",
  components: {
    FeedBack
  },
  props: {
    item: {
      type: Object,
      default() {
        return {
          id: this.$route.params.id,
          picture: null,
          dispatch: ""
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      message: null,
      feedback: false,
      avatar: null,
      objectUrl: null,
      previewCropped: null,
      debouncedUpdatePreview: debounce(this.updatePreview, 257)
    };
  },
  methods: {
    resetCropper() {
      this.cropper.reset();
    },
    rotateLeft() {
      this.cropper.rotate(-90);
    },
    rotateRight() {
      this.cropper.rotate(90);
    },
    setupCropper(avatar) {
      if (this.cropper) {
        this.cropper.destroy();
      }

      if (this.objectUrl) {
        window.URL.revokeObjectURL(this.objectUrl);
      }

      if (!avatar) {
        this.cropper = null;
        this.objectUrl = null;
        this.previewCropped = null;
        return;
      }

      this.objectUrl = window.URL.createObjectURL(avatar);
      this.$nextTick(this.setupCropperInstance);
    },
    setupCropperInstance() {
      this.cropper = new Cropper(this.$refs.source, {
        aspectRatio: 1,
        crop: this.debouncedUpdatePreview
      });
    },
    updatePreview(/*event*/) {
      const canvas = this.cropper.getCroppedCanvas();
      this.previewCropped = canvas.toDataURL("image/png");
    },
    async submit() {
      const canvas = this.cropper.getCroppedCanvas();
      await canvas.toBlob(blob => {
        const formData = new FormData();
        formData.append("picture", blob, this.avatar);
        formData.append("id", this.item.id);
        this.update(formData);
      });
    },
    async update(data) {
      const response = await this.$store.dispatch(this.item.dispatch, data);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
