<template>
  <v-dialog v-model="dialog" persistent max-width="320">
    <v-card>
      <v-card-title class="headline" color="warning">
        You are about to delete?
      </v-card-title>
      <v-card-text>
        Item will be moved to trash, will no longer be visible anywhere else, will not be selectable by the users of the system. This action
        will not affect any previous records if associated with any. e.g, past reports, purchases or any historic data, relationship with
        other items (example: category product relationship).
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="warning" text @click="notrash()">
          Cancel
        </v-btn>
        <v-btn color="warning" text @click="trash()">
          Trash
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ConfirmSoftDelete",
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    notrash() {
      this.$emit("notrash");
    },
    trash() {
      this.$emit("trash");
    }
  }
};
</script>
