<template>
  <v-dialog v-model="dialog" persistent max-width="320">
    <v-card>
      <v-card-title class="headline" color="warning">
        You are about to activate a module
      </v-card-title>
      <v-card-text>
        This module will immediately appear when you launch your module launcher. Charges may apply.
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="warning" text @click="cancel()">
          Cancel
        </v-btn>
        <v-btn color="warning" text @click="activate()">
          Activate
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ConfirmSoftDelete",
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    cancel() {
      this.$emit("cancel");
    },
    activate() {
      this.$emit("activate");
    }
  }
};
</script>
