<template>
  <v-dialog v-if="dialog" v-model="dialog" persistent max-width="290">
    <v-card>
      <v-toolbar :color="message.color">Message Alert !!</v-toolbar>
      <v-card-text :color="message.color">
        {{ message.message }}
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :color="message.color" text @click="nofeedback()">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "FeedBack",
  props: {
    dialog: {
      type: Boolean,
      default: false
    },
    message: {
      default: {
        type: 4,
        message: "No feedback. message provided",
        color: "grey dark-2",
        data: {}
      }
    }
  },
  methods: {
    nofeedback() {
      this.$emit("nofeedback");
    }
  }
};
</script>
