<template>
  <div>
    <browse :items="items" :headers="headers" :search="search" :parent="parent" :slug="slug" @remove="remove" />
    <confirm-soft-delete :dialog="trashfeed" @notrash="notrash()" @trash="trash()" />
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import Browse from "@/components/bread/browse";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import ConfirmSoftDelete from "@/components/feedback/ConfirmSoftDelete";

export default {
  name: "Currencies",
  components: {
    Browse,
    FeedBack,
    ConfirmSoftDelete
  },
  data() {
    return {
      slug: "currency",
      parent: "tariff",
      search: "",
      message: null,
      feedback: false,
      trashfeed: false,
      item: null,
      headers: [
        { text: "Code", align: "start", sortable: false, value: "code" },
        { text: "Name", value: "name", sortable: true },
        { text: "Symbol", value: "symbol", sortable: true },
        { text: "Active", value: "active", sortable: true },
        { text: "Description", value: "description", sortable: true },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  created() {
    this.$store.dispatch("currency/browse");
  },
  computed: {
    items: {
      get: function() {
        return this.$store.getters.currencies;
      }
    }
  },
  methods: {
    async remove(id) {
      this.trashfeed = true;
      this.item = id;
    },
    nofeedback() {
      this.feedback = false;
      this.trashfeed = false;
    },

    notrash() {
      this.trashfeed = false;
    },

    async trash() {
      const response = await this.$store.dispatch("currency/trash", { id: this.item });
      this.message = Dynamic(response);
      this.feedback = true;
    }
  }
};
</script>
