<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Currency Information
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Currency to which your system must use to charge, and present prices
      </v-card-subtitle>
      <formz :currency="currency" :readonly="readonly" :disabled="disabled" />
    </v-card>
  </div>
</template>

<script>
import Formz from "./components/formz";

export default {
  name: "Currencies",
  components: {
    Formz
  },
  data() {
    return {
      readonly: true,
      disabled: true
    };
  },
  created() {
    this.$store.dispatch("currency/read", this.$route.params.id);
  },
  computed: {
    currency: {
      get: function() {
        return this.$store.getters.currency;
      }
    }
  }
};
</script>
