<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
            <v-subheader v-text="'Choose Product Category'"></v-subheader>
          </v-col>
          <v-col cols="12" sm="6">
            <v-select
              v-model="product.category"
              :items="categories"
              item-text="display_name"
              item-value="id"
              label="Categories"
              multiple
              :readonly="readonly"
              :disabled="disabled"
              chips
              hint="Categories to which the product belong ?"
              persistent-hint
            ></v-select>
          </v-col>
          <v-divider class="my-5"></v-divider>
          <v-btn v-if="operation === 'edit'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
        </v-row>
      </v-container>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "ProductCategoryForm",
  components: { FeedBack },
  props: {
    product: {
      type: Object,
      default() {
        return {
          category: []
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  created() {
    this.$store.dispatch("category/browse");
  },
  computed: {
    categories: {
      get: function() {
        return this.$store.getters.categories;
      }
    }
  },
  data: () => ({
    valid: true,
    message: null,
    feedback: false
  }),
  methods: {
    async edit() {
      const response = await this.$store.dispatch("product/relation_category", this.product);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
