<template>
  <v-row>
    <v-toolbar tabs flat>
      <v-toolbar-title>Product: {{ product.name }}</v-toolbar-title>
      <template v-slot:extension>
        <v-tabs v-model="tabs" align-with-title>
          <v-tab v-for="item in items" :key="item" :href="'#' + item">
            {{ item }}
          </v-tab>
          <v-tabs-slider></v-tabs-slider>
        </v-tabs>
      </template>
    </v-toolbar>
    <v-card-text>
      <v-tabs-items v-model="tabs">
        <v-tab-item value="Category">
          <v-col cols="12">
            <Category :product="product" :readonly="readonly" :operation="operation" :disabled="disabled" @edit="edit()" />
          </v-col>
        </v-tab-item>
        <v-tab-item value="General">
          <v-col cols="12">
            <General :product="product" :readonly="readonly" :operation="operation" :disabled="disabled" @edit="edit()" />
          </v-col>
        </v-tab-item>
        <v-tab-item value="Picture">
          <v-col cols="12">
            <Picture :product="product" :readonly="readonly" :operation="operation" :disabled="disabled" @edit="edit()" />
          </v-col>
        </v-tab-item>
        <v-tab-item value="Stock">
          <v-col cols="12">
            <Inventory :product="product" :readonly="readonly" :operation="operation" :disabled="disabled" @edit="edit()" />
          </v-col>
        </v-tab-item>
        <v-tab-item value="Tax">
          <v-col cols="12">
            <tax :product="product" :readonly="readonly" :operation="operation" :disabled="disabled" @edit="edit()" />
          </v-col>
        </v-tab-item>
      </v-tabs-items>
    </v-card-text>
  </v-row>
</template>

<script>
import General from "./General";
import Category from "./Category";
import Picture from "./Picture";
import Tax from "./Tax";
import Inventory from "./Inventory";
import { isBlank, validAlphaNumeric, validDecimal, validNumeric } from "@/utils/validate";

export default {
  name: "ProductForm",
  components: { General, Category, Tax, Picture, Inventory },
  props: {
    product: {
      type: Object,
      default() {
        return {
          name: null,
          barcode: null,
          price: null,
          cost: null,
          description: null,
          category: [],
          tax: []
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  created() {
    if (isBlank(this.$store.getters.categories)) this.$store.dispatch("category/browse");
    if (isBlank(this.$store.getters.taxes)) this.$store.dispatch("tax/browse");
  },
  computed: {
    categories: {
      get: function() {
        return this.$store.getters.categories;
      }
    },
    taxes: {
      get: function() {
        return this.$store.getters.taxes;
      }
    }
  },
  data: () => ({
    tabs: "General",
    items: ["Category", "General", "Picture", "Stock", "Tax"],
    valid: true,
    drawer: null,
    vrules: {
      // eslint-disable-next-line prettier/prettier
      name: [v => !!v || "Name is required"],
      barcode: [
        // eslint-disable-next-line prettier/prettier
        v => (!isBlank(v) && !validAlphaNumeric(v) && !/^(\w{0,2})$/.test(v)) || "must be alpha-numeric"
      ],
      fullnumber: [
        // eslint-disable-next-line prettier/prettier
        v => !!isBlank(v) || !!validNumeric(v) || "Full number expected. Leave Blank if product is not stockable"
      ],
      currency: [
        // eslint-disable-next-line prettier/prettier
        v => !!validDecimal(v) || !!validNumeric(v) || "Numbers & decimals only allowed"
      ]
    }
  }),
  methods: {
    add() {
      if (this.$refs.form.validate()) this.$emit("add");
    },
    edit() {
      if (this.$refs.form.validate()) this.$emit("edit");
    }
  }
};
</script>
