<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="product.name"
            :rules="vrules.name"
            label="Name"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field v-model="product.sku" :rules="vrules.barcode" label="SKU" :disabled="disabled" :readonly="readonly"></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="product.barcode"
            :rules="vrules.barcode"
            label="Barcode"
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="product.price"
            :rules="vrules.currency"
            label="Price"
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="product.cost"
            :rules="vrules.currency"
            label="Cost"
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="12">
          <v-textarea
            v-model="product.description"
            label="Description"
            :disabled="disabled"
            :readonly="readonly"
            hint="Adjustable height."
            rows="1"
          ></v-textarea>
        </v-col>

        <v-divider class="my-5"></v-divider>
        <v-btn v-if="operation === 'add'" :disabled="!valid" color="primary" class="mt-3" @click="add()">Save</v-btn>
        <v-btn v-if="operation === 'edit'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { isBlank, validAlphaNumeric, validDecimal, validNumeric } from "@/utils/validate";

export default {
  name: "ProductForm",
  props: {
    product: {
      type: Object,
      default() {
        return {
          name: null,
          barcode: null,
          price: null,
          cost: null,
          description: null
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data: () => ({
    valid: true,
    vrules: {
      // eslint-disable-next-line prettier/prettier
      name: [v => !!v || "Name is required"],
      barcode: [
        // eslint-disable-next-line prettier/prettier
        v => (!isBlank(v) && !validAlphaNumeric(v) && !/^(\w{0,2})$/.test(v)) || "must be alpha-numeric"
      ],
      fullnumber: [
        // eslint-disable-next-line prettier/prettier
        v => !!isBlank(v) || !!validNumeric(v) || "Full number expected. Leave Blank if product is not stockable"
      ],
      currency: [
        // eslint-disable-next-line prettier/prettier
        v => !!validDecimal(v) || !!validNumeric(v) || "Numbers & decimals only allowed"
      ]
    }
  }),
  methods: {
    add() {
      if (this.$refs.form.validate()) this.$emit("add");
    },
    edit() {
      if (this.$refs.form.validate()) this.$emit("edit");
    }
  }
};
</script>
