<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="product.inventory.stock"
              :rules="vrules.fullnumber"
              label="Available Stock"
              required
              :disabled="disabled"
              :readonly="readonly"
            ></v-text-field>
          </v-col>
          <v-divider class="my-5"></v-divider>
          <v-btn v-if="operation !== 'read'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
        </v-row>
      </v-container>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import { isBlank, validNumeric } from "@/utils/validate";

export default {
  name: "ProductInventoryForm",
  components: { FeedBack },
  props: {
    product: {
      type: Object,
      default() {
        return {
          inventory: {
            stock: null
          }
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data: () => ({
    valid: true,
    message: null,
    feedback: false,
    vrules: {
      fullnumber: [v => !!isBlank(v) || !!validNumeric(v) || "Full number expected. Leave Blank if product is not stockable"]
    }
  }),
  methods: {
    async edit() {
      const response = await this.$store.dispatch("product/relation_inventory", this.product);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
