<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
            <v-subheader v-text="'Choose Product Tax'"></v-subheader>
          </v-col>
          <v-col cols="12" sm="6">
            <v-select
              v-model="product.tax"
              :items="taxes"
              item-text="display_name"
              item-value="id"
              label="Taxes"
              multiple
              :readonly="readonly"
              :disabled="disabled"
              chips
              hint="taxes to which the product is associated with Dee ?"
              persistent-hint
            ></v-select>
          </v-col>
          <v-divider class="my-5"></v-divider>
          <v-btn v-if="operation !== 'read'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
        </v-row>
      </v-container>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "ProductTaxForm",
  components: { FeedBack },
  props: {
    product: {
      type: Object,
      default() {
        return {
          tax: []
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  created() {
    this.$store.dispatch("tax/browse");
  },
  computed: {
    taxes: {
      get: function() {
        return this.$store.getters.taxes;
      }
    }
  },
  data: () => ({
    valid: true,
    message: null,
    feedback: false
  }),
  methods: {
    async edit() {
      const response = await this.$store.dispatch("product/relation_tax", this.product);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
