<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row class="justify-center pt-10">
          <v-col cols="12" sm="10" md="8" lg="6">
            <billing-address :address="address" :item="item" :readonly="readonly" :disabled="disabled" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import BillingAddress from "@/components/forms/BillingAddress";

export default {
  name: "EmployeeAddress",
  components: {
    BillingAddress
  },
  props: {
    employee: {
      type: Object,
      default() {
        return {};
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  computed: {
    item() {
      return {};
    },
    address() {
      return {};
    }
  }
};
</script>
