<template>
  <div>
    <avatar-upload :item="item" :readonly="readonly" />
  </div>
</template>

<script>
import AvatarUpload from "@/components/multimedia/AvatarUpload";

export default {
  name: "EmployeeAvatar",
  components: { AvatarUpload },
  props: {
    employee: {
      type: Object,
      default() {
        return {};
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  computed: {
    item() {
      return {
        id: this.employee.id,
        picture: this.employee.avatar,
        dispatch: "employee/relation_avatar"
      };
    }
  }
};
</script>
