<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row class="justify-center pt-10">
          <v-col cols="12" sm="10" md="8" lg="6">
            <contact :contact="contact" :item="item" :readonly="readonly" :disabled="disabled" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Contact from "@/components/forms/Contact";

export default {
  name: "EmployeeContact",
  components: {
    Contact
  },
  props: {
    employee: {
      type: Object,
      default() {
        return {};
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  computed: {
    item() {
      return {
        id: this.employee.id,
        dispatch: "employee/contact"
      };
    },
    contact() {
      return {
        mobile: "",
        email: ""
      };
    }
  }
};
</script>
