<template>
  <div>
    <v-row>
      <v-card width="100%">
        <v-img v-if="employee" height="70px" :src="employee.avatar">
          <v-overlay absolute color="#025247">
            <v-app-bar flat color="rgba(0, 0, 0, 0)">
              <v-card-title class="white--text mt-8">
                <v-avatar size="56" tile>
                  <v-icon v-if="!employee.avatar">
                    mdi-account-circle
                  </v-icon>
                  <img v-else alt="." :src="employee.avatar" />
                </v-avatar>
                <p class="ml-3">
                  {{ employee.nickname }}
                </p>
              </v-card-title>
            </v-app-bar>
          </v-overlay>
        </v-img>

        <v-bottom-navigation color="teal" centered>
          <v-tabs v-model="tabs" align-with-title centered>
            <v-tab v-for="item in content" :key="item.href" :href="item.href">
              <v-btn>
                <span>{{ item.title }}</span>
                <v-icon>{{ item.icon }}</v-icon>
              </v-btn>
            </v-tab>
            <v-tabs-slider color="teal"></v-tabs-slider>
          </v-tabs>
        </v-bottom-navigation>
        <v-tabs-items v-model="tabs">
          <v-tab-item v-for="item in content" :key="item.href" :value="item.value">
            <component
              v-if="item.component"
              :is="item.component"
              :employee="employee"
              :readonly="readonly"
              :disabled="disabled"
              :operation="operation"
            ></component>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import { validAlphabetNSpace, validAlphabets } from "@/utils/validate";

export default {
  name: "DT", // Datatable
  props: {
    employee: {
      type: Object,
      default() {
        return {};
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data: () => ({
    valid: true,
    tabs: null,
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length > 1) || "Name must have more than 1 alphabets",
      v => (v && v.length < 15) || "Name must have less than 15 alphabets",
      v => validAlphabetNSpace(v) || "English alphabets expected, and or spaces"
    ],
    codeRules: [
      v => !!v || "Code is required",
      v => (v && v.length == 3) || "Code must contain 3 english alphabets",
      v => validAlphabets(v) || "Code must contain english alphabets only"
    ],
    symbolRules: [
      v => !!v || "Symbol is required",
      v => (v && v.length >= 1) || "Symbol can only contain 1 - 3 characters",
      v => (v && v.length <= 3) || "Symbol can only contain 1 - 3 characters"
    ],
    content: [
      {
        title: "Profile",
        href: "#profile",
        value: "profile",
        icon: "mdi-badge-account-horizontal-outline",
        component: () => import("./profile")
      },
      {
        title: "Avatar",
        href: "#avatar",
        value: "avatar",
        icon: "mdi-face-profile",
        component: () => import("./avatar")
      },
      {
        title: "Address",
        href: "#address",
        value: "address",
        icon: "mdi-warehouse",
        component: () => import("./address")
      },
      {
        title: "Contact",
        href: "#contact",
        value: "contact",
        icon: "mdi-phone",
        component: () => import("./contact")
      },
      // {
      //   title: "N. O. Kin",
      //   href: "#nok",
      //   value: "nok",
      //   icon: "mdi-kabaddi",
      //   component: () => import("./nok")
      // },
      // {
      //   title: "Contract",
      //   href: "#contract",
      //   value: "contract",
      //   icon: "mdi-file-account",
      //   component: () => import("./contract")
      // },
      // {
      //   title: "Roles & Permissions",
      //   href: "#roles",
      //   value: "role",
      //   icon: "mdi-lock-outline",
      //   component: () => import("./roles")
      // }
    ]
  }),
  methods: {
    add() {
      if (this.$refs.form.validate()) this.$emit("add");
    },
    edit() {
      if (this.$refs.form.validate()) this.$emit("edit");
    }
  }
};
</script>
