<template>
  <div>
    <h1>NOK</h1>
  </div>
</template>

<script>
export default {
  name: "EmployeeNOK",
  props: {
    employee: {
      type: Object,
      default() {
        return {};
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  }
  // computed: {
  //   item() {
  //     return {
  //       id: this.employee.id,
  //       avatar: this.employee.avatar,
  //       dispatch: "employee/relation_avatar"
  //     };
  //   }
  // }
};
</script>
