<template>
  <div>
    <v-form ref="form" lazy-validation>
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="employee.nickname"
              :rules="[v => !!v || 'Nickname is required']"
              label="Nickname"
              :disabled="disabled"
              :readonly="readonly"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="employee.first_name"
              :rules="[v => !!v || 'First Name is required']"
              label="First Name"
              required
              :disabled="disabled"
              :readonly="readonly"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="employee.last_name"
              :rules="[v => !!v || 'Last Name is required']"
              label="Last Name"
              required
              :disabled="disabled"
              :readonly="readonly"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <template>
              <v-menu ref="menu" v-model="menu" :close-on-content-click="false" transition="scale-transition" offset-y min-width="290px">
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="employee.date_of_birth"
                    label="Birthday date"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  ref="picker"
                  v-model="employee.date_of_birth"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="1950-01-01"
                  :disabled="disabled"
                  :readonly="readonly"
                  @change="save"
                ></v-date-picker>
              </v-menu>
            </template>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="employee.id_number"
              :rules="[v => !!v || 'ID Number is not correct']"
              label="ID Number"
              :disabled="disabled"
              :readonly="readonly"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="employee.passport_number"
              :rules="[v => !!v || 'Passport Number is not correct']"
              label="Passport Number"
              :disabled="disabled"
              :readonly="readonly"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="employee.nationality"
              :rules="[v => !!v || 'Nationality is required']"
              label="Nationality"
              :disabled="disabled"
              :readonly="readonly"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="4">
            <label><strong>Status:</strong></label>
            {{ employee.is_active ? "Employee" : "Dismissed Employee" }}

            <v-checkbox v-model="employee.is_active" :label="`Is Employee ?`" :disabled="disabled" :readonly="readonly"></v-checkbox>
          </v-col>
          <v-col cols="12" md="4">
            <label>
              <strong>Gender:</strong>
              {{ employee.gender ? "Male" : "Female" }}
            </label>
            <v-checkbox v-model="employee.gender" :label="`Employee Gender`" :disabled="disabled" :readonly="readonly"></v-checkbox>
          </v-col>
          <v-divider />
          <v-btn :disabled="!valid" color="success" class="mr-4" @click="save">
            Save
          </v-btn>
        </v-row>
      </v-container>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "EmployeeProfile",
  components: {
    FeedBack
  },
  props: {
    employee: {
      type: Object,
      default() {
        return {};
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data() {
    return {
      valid: true,
      menu: false,
      message: null,
      feedback: false
    };
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  methods: {
    save(date) {
      this.$refs.menu.save(date);
    },
    async edit() {
      console.log(this.employee);
      const response = await this.$store.dispatch("employee/" + this.operation, this.employee);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
