<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Support Contact
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Consult a real person
      </v-card-subtitle>
    </v-card>
    <feed-back
      :dialog="feedback"
      :message="message"
      @nofeedback="nofeedback()"
    />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "SupportContact",
  components: {
    FeedBack
  },
  data() {
    return {
      message: null,
      feedback: false
    };
  },
  methods: {
    initialize() {
      Dynamic("Init");
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
