<template>
  <div>
    <side-nav />
    <bread-crumber />
    <support-oliver v-if="currentRouteName === 'support-oliver'" />
    <support-contact v-else-if="currentRouteName === 'support-contact'" />
  </div>
</template>

<script>
import SideNav from "@/components/misc/SideNav";
import BreadCrumber from "@/components/misc/BreadCrumber";
import SupportOliver from "./oliver";
import SupportContact from "./contact";

export default {
  name: "Attribute",
  components: {
    SideNav,
    BreadCrumber,
    SupportOliver,
    SupportContact
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    }
  }
};
</script>
