<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="tax.name"
            :rules="nameRules"
            label="Name"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="tax.display_name"
            :rules="nameRules"
            label="Display Name"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="tax.percentage_charge"
            :rules="numberRules"
            label="Percentage Charged"
            required
            :disabled="disabled"
            :readonly="readonly"
          >
            <v-icon slot="append">
              mdi-percent
            </v-icon>
          </v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="tax.amount_charge"
            :rules="numberRules"
            label="Absolute Amount Charged"
            required
            :disabled="disabled"
            :readonly="readonly"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="12">
          <v-textarea
            v-model="tax.description"
            auto-grow
            label="Description"
            rows="1"
            :disabled="disabled"
            :readonly="readonly"
          ></v-textarea>
        </v-col>
        <v-divider class="my-5"></v-divider>
        <v-btn v-if="operation === 'add'" :disabled="!valid" color="primary" class="mt-3" @click="add()">Save</v-btn>
        <v-btn v-if="operation === 'edit'" :disabled="!valid" color="primary" class="mt-3" @click="edit()">Save</v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { validAlphabetNSpace, validDecimal } from "@/utils/validate";

export default {
  name: "DT", // Datatable
  props: {
    tax: {
      type: Object,
      default() {
        return {
          name: null,
          display_name: null,
          percentage_charge: 0,
          amount_charge: 0,
          description: null
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    operation: {
      type: String,
      default() {
        return "read";
      }
    }
  },
  data: () => ({
    valid: true,
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length > 1) || "Name must have more than 1 alphabets",
      v => (v && v.length < 15) || "Name must have less than 15 alphabets",
      v => validAlphabetNSpace(v) || "English alphabets expected, and or spaces"
    ],
    numberRules: [v => !!v || "This field is required", v => validDecimal(v) || "A decimal value is expected"]
  }),
  methods: {
    add() {
      if (this.$refs.form.validate()) this.$emit("add");
    },
    edit() {
      if (this.$refs.form.validate()) this.$emit("edit");
    }
  }
};
</script>
