<template>
  <v-card class="mx-auto">
    <v-navigation-drawer class="" :width="'100%'" permanent>
      <v-app-bar elevation="0">
        <v-btn class="mx-2" fab small>
          <v-icon> mdi-delete-empty </v-icon>
        </v-btn>
        <v-toolbar-title>ORDER ITEMS: 0</v-toolbar-title>
      </v-app-bar>
      <v-divider></v-divider>

      <v-simple-table dense width="100%" calculate-widths>
        <template v-slot:default>
          <thead>
            <tr>
              <th colspan="2">Items name</th>
              <th colspan="2">Price</th>
              <th colspan="2">Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in cart" :key="item.id">
              <td class="text-xs-right" width="5%">
                <v-btn icon @click="remove(item)">
                  <v-icon>mdi-delete-empty</v-icon>
                </v-btn>
              </td>
              <td class="text-xs-right" width="52%">{{ item.name }}</td>
              <td class="text-xs-right" width="40%">R {{ item.itemCharge }}</td>
              <td class="text-xs-right" width="1%">
                <v-btn icon @click="increment(item)">
                  <v-icon>mdi-basket-plus</v-icon>
                </v-btn>
              </td>
              <td class="text-xs-right" width="1%">
                {{ item.qty }}
              </td>
              <td class="text-xs-right" width="1%">
                <v-btn icon @click="decrement(item)">
                  <v-icon>mdi-basket-minus</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>

      <template v-slot:append>
        <v-container fluid>
          <v-row align="center">
            <v-col class="d-flex" cols="12">
              <v-select
                :items="paymethods"
                item-text="display_name"
                item-value="id"
                label="Payment Method"
                outlined
                v-model="paymethod"
                @change="setpaymethod($event)"
              ></v-select>
            </v-col>
            <v-col class="d-flex" cols="4">
              <v-text-field label="DISCOUNT VOUCHER" outlined v-model="discountVoucher"></v-text-field>
            </v-col>
            <v-col class="d-flex" cols="4">
              <v-text-field label="Tendered" value="0.00" prefix="R" outlined v-model="tendered" @blur="settendered()"></v-text-field>
            </v-col>
            <v-col class="d-flex" cols="4">
              <v-text-field label="Tip" value="0.00" prefix="R" outlined v-model="tip" @blur="settip()"></v-text-field>
            </v-col>
          </v-row>
          <v-simple-table dense width="100%">
            <template v-slot:default>
              <tbody>
                <tr>
                  <td class="text-lg-h6">Change</td>
                  <td class="text-lg-h6">R 0</td>
                </tr>
                <tr>
                  <td class="text-lg-h6">Discount</td>
                  <td class="text-lg-h6">R 0</td>
                </tr>
                <tr>
                  <td class="text-lg-h6">Subtotal</td>
                  <td class="text-lg-h6">R {{ parseFloat(carted.subtotal).toFixed(2) }}</td>
                </tr>
                <tr>
                  <td class="text-lg-h6">Tax</td>
                  <td class="text-lg-h6">R {{ parseFloat(carted.otherTax).toFixed(2) }}</td>
                </tr>
                <tr>
                  <td class="text-lg-h6">VAT</td>
                  <td class="text-lg-h6">R {{ parseFloat(carted.vat).toFixed(2) }}</td>
                </tr>
                <tr>
                  <td class="text-lg-h6">Grand Total</td>
                  <td class="text-lg-h6">R {{ parseFloat(carted.total).toFixed(2) }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-row align="center">
            <v-col class="d-flex" cols="12">
              <v-btn tile block color="success" @click="makeSale()">
                <v-icon left> mdi-cash-register </v-icon>
                DONE
              </v-btn>
            </v-col>
            <!-- <v-col class="d-flex" cols="6">
              <v-btn tile block color="info" outlined>
                <v-icon left> mdi-directions-fork </v-icon>
                Split Bill
              </v-btn>
            </v-col>
            <v-col class="d-flex" cols="6">
              <v-btn tile block color="secondary">
                <v-icon left> mdi-hand-right </v-icon>
                Queue
              </v-btn>
            </v-col> -->
          </v-row>
        </v-container>
      </template>
    </v-navigation-drawer>

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </v-card>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "CartItems",
  components: {
    FeedBack,
  },
  data: () => ({
    message: null,
    feedback: false,
    discountVoucher: null,
    discount: 0,
    tip: 0,
    tendered: 0,
    subtotal: 0,
    other_tax: 0,
    vat: 0,
    total: 0
  }),
  computed: {
    paymethods: {
      get: function() {
        return this.$store.getters.paymethods;
      }
    },
    cart: {
      get: function() {
        return this.$store.getters.cart;
      }
    },
    carted: {
      get: function() {
        return this.$store.getters.carted;
      }
    }
  },
  updated: function() {
    this.$nextTick(function() {
      // Code that will run only after the
      // entire view has been re-rendered
      this.$store.dispatch("paymethod/browse");
    });
  },
  methods: {
    remove(item) {
      this.$store.dispatch("cart/remove", item);
      this.$store.dispatch("cart/carted");
    },
    setpaymethod(event) {
      this.$store.dispatch("cart/setpaymethod", event);
      this.$store.dispatch("cart/carted");
    },
    settip() {
      this.$store.dispatch("cart/settip", this.tip);
      this.$store.dispatch("cart/carted");
    },
    settendered() {
      this.$store.dispatch("cart/settendered", this.tendered);
    },
    increment(item) {
      this.$store.dispatch("cart/increment", item);
      this.$store.dispatch("cart/carted");
    },
    decrement(item) {
      this.$store.dispatch("cart/decrement", item);
      this.$store.dispatch("cart/carted");
    },
    async makeSale() {
      var data = {
        cashier: "MPL1611488531YEE20",
        paymethod: this.paymethod,
        discountVoucher: this.discountVoucher,
        discount: this.discount,
        tendered: this.tendered,
        tip: this.tip,
        subtotal: parseFloat(this.carted.subtotal).toFixed(2),
        other_tax: parseFloat(this.carted.otherTax).toFixed(2),
        vat: parseFloat(this.carted.vat).toFixed(2),
        total: parseFloat(this.carted.total).toFixed(2),
        cart: this.$store.state.cart
      };
      const response = await this.$store.dispatch("cart/create", data);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
