<template>
  <div>
    <pos-products :items="items" :headers="headers" :search="search" :parent="parent" :slug="slug" @remove="remove" />
    <confirm-soft-delete :dialog="trashfeed" @notrash="notrash()" @trash="trash()" />
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import PosProducts from "@/components/misc/POSProducts";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";
import ConfirmSoftDelete from "@/components/feedback/ConfirmSoftDelete";

export default {
  name: "ProductItems",
  components: {
    PosProducts,
    FeedBack,
    ConfirmSoftDelete
  },
  data() {
    return {
      slug: "product",
      parent: "catalog",
      search: "",
      message: null,
      feedback: false,
      trashfeed: false,
      item: null,
      headers: [
        { text: "#", align: "start", sortable: false, value: "picture" },
        { text: "Name", sortable: false, value: "name" },
        { text: "Barcode", value: "barcode", sortable: true },
        { text: "Price", value: "price", sortable: true },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  created() {
    this.$store.dispatch("product/browse");
  },
  computed: {
    items: {
      get: function() {
        return this.$store.getters.products;
      }
    }
  },
  methods: {
    async remove(id) {
      this.trashfeed = true;
      this.item = id;
    },
    nofeedback() {
      this.feedback = false;
      this.trashfeed = false;
    },

    notrash() {
      this.trashfeed = false;
    },

    async trash() {
      const response = await this.$store.dispatch("product/trash", { id: this.item });
      this.message = Dynamic(response);
      this.feedback = true;
    }
  }
};
</script>
