<template>
  <v-main fluid>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </v-main>
</template>

<script>
export default {
  name: "Layout"
};
</script>
