<template>
  <v-app>
    <v-row no-gutters class="v-main">
      <v-col cols="7" class="mx-5">
        <v-card fluid>
          <product-items :mysearchString="searchName"></product-items>
        </v-card>
      </v-col>
      <v-col cols="4" class="mx-5">
        <cart-items></cart-items>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import ProductItems from "./components/ProductItems";
import CartItems from "./components/CartItems";

export default {
  name: "POS",
  components: {
    ProductItems,
    CartItems
  },
  data: () => ({
    currentItem: "tab-1",
    searchName: "",
    categories: [],
    items: [], // ["Beverages", "Food", "Dance"],
    more: [], // ["Cocktails", "Shots", "Starter", "Main Kos"],
    show: false
  }),
  created() {
    this.$store.dispatch("category/browse");
    this.$store.dispatch("product/browse");
  },
  methods: {}
};
</script>
