<template>
  <div>
    <bread-crumber />
    <template>
      <v-card class="mx-auto">
        <v-list two-line>
          <v-list-item-group v-model="selected" multiple>
            <template v-for="(item, index) in items">
              <v-list-item :key="item.title">
                <template v-slot:default="{ active }">
                  <v-list-item-content>
                    <v-list-item-title v-text="item.title"></v-list-item-title>

                    <v-list-item-subtitle class="text--primary" v-text="item.headline"></v-list-item-subtitle>

                    <v-list-item-subtitle v-text="item.subtitle"></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action>
                    <v-list-item-action-text v-text="item.action"></v-list-item-action-text>

                    <v-icon v-if="!active" color="grey lighten-1">
                      mdi-trash-can-outline
                    </v-icon>

                    <v-icon v-else color="yellow darken-3">
                      mdi-trash-can
                    </v-icon>
                  </v-list-item-action>
                </template>
              </v-list-item>

              <v-divider v-if="index < items.length - 1" :key="index"></v-divider>
            </template>
          </v-list-item-group>
        </v-list>
      </v-card>
    </template>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import BreadCrumber from "@/components/misc/BreadCrumber";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Notification",
  components: {
    BreadCrumber,
    FeedBack
  },
  data: () => ({
    message: null,
    feedback: false,
    selected: null
  }),
  created() {
    this.initialize();
  },
  computed: {
    items: {
      get: function() {
        return this.$store.getters.notifications;
      }
    }
  },
  methods: {
    async initialize() {
      const response = await this.$store.dispatch("notification/browse");
      if (response.type !== 0) {
        this.message = Dynamic(response);
        this.feedback = true;
      }
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
