<template>
  <div>
    <side-nav />
    <bread-crumber />
    <component v-if="slug" :is="loader || 'div'"></component>
  </div>
</template>

<script>
import BreadCrumber from "@/components/misc/BreadCrumber";
import SideNav from "@/components/misc/SideNav";

export default {
  name: "CatalogController",
  components: {
    BreadCrumber,
    SideNav
  },
  computed: {
    loader() {
      return this.initialize();
    },
    slug() {
      return this.$route.meta.slug;
    }
  },
  methods: {
    initialize() {
      let path = this.$route.path;
      if (path.search("read") > 0) return () => import(`./${this.slug}/read`);
      else if (path.search("edit") > 0) return () => import(`./${this.slug}/edit`);
      else if (path.search("add") > 0) return () => import(`./${this.slug}/add`);
      else return () => import(`./${this.slug}/browse`);
    }
  }
};
</script>
