<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Edit Tax Information
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Tax to which your system must use to charge, and present prices
      </v-card-subtitle>
      <formz :tax="tax" :readonly="readonly" :operation="operation" @edit="edit()" />
    </v-card>

    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import Formz from "./components/formz";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Taxes",
  components: {
    Formz,
    FeedBack
  },
  data() {
    return {
      readonly: false,
      operation: "edit",
      message: null,
      feedback: false
    };
  },
  created() {
    this.$store.dispatch("tax/edit", this.$route.params.id);
  },
  computed: {
    tax: {
      get: function() {
        return this.$store.getters.tax;
      }
    }
  },
  methods: {
    async edit() {
      console.log(this.tax);
      const response = await this.$store.dispatch("tax/edit", this.tax);
      this.message = Dynamic(response);
      this.feedback = true;
    },
    nofeedback() {
      this.feedback = false;
    }
  }
};
</script>
