<template>
  <div>
    <v-card color="transparent" elevation="0">
      <v-card-title class="text-center justify-center py-6">
        <h5 class="font-weight-bold">
          Tax Information
        </h5>
      </v-card-title>
      <v-card-subtitle class="text-center justify-center">
        Tax to which your system must use to charge, and present prices
      </v-card-subtitle>
      <formz :tax="tax" :readonly="readonly" :disabled="disabled" />
    </v-card>
  </div>
</template>

<script>
import Formz from "./components/formz";

export default {
  name: "Taxes",
  components: {
    Formz
  },
  data() {
    return {
      readonly: true,
      disabled: true
    };
  },
  created() {
    this.$store.dispatch("tax/read", this.$route.params.id);
    console.log("hello");
    console.log(this.$store.getters.tax);
  },
  computed: {
    tax: {
      get: function() {
        return this.$store.getters.tax;
      }
    }
  }
};
</script>
