<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="address.line1"
            :readonly="readonly"
            :disabled="disabled"
            :counter="35"
            :rules="lineRules"
            label="Line 1"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field v-model="address.line2" :readonly="readonly" :disabled="disabled" :counter="35" label="Line 2"></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="address.city"
            :readonly="readonly"
            :disabled="disabled"
            :rules="nameRules"
            label="City"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="address.province"
            :disabled="disabled"
            :readonly="readonly"
            :rules="nameRules"
            label="Province / State / Region"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="address.zip"
            :disabled="disabled"
            :readonly="readonly"
            :rules="numberRules"
            label="Zip Code"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="address.country"
            :disabled="disabled"
            :readonly="readonly"
            :rules="nameRules"
            label="Country"
            required
          ></v-text-field>
        </v-col>
        <v-col v-if="billing" cols="12">
          <v-checkbox v-model="address.saved" label="Save Details To Account ?"></v-checkbox>
        </v-col>
      </v-row>
      <v-btn :disabled="!valid" color="success" class="mr-4" @click="save">
        Save
      </v-btn>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { validAlphabetNSpace, validNumeric } from "@/utils/validate";
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "CreditCard",
  components: {
    FeedBack
  },
  props: {
    billing: {
      type: Boolean,
      default() {
        return false;
      }
    },
    item: {
      type: Object,
      default() {
        return {
          id: this.$route.params.id,
          dispatch: ""
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    address: {
      type: Object,
      default() {
        return {
          line1: "",
          line2: "",
          city: "",
          province: "",
          zip: "",
          country: "",
          saved: true
        };
      }
    }
  },
  data: () => ({
    message: null,
    feedback: false,
    valid: true,
    nameRules: [v => !!v || "Value is required", v => validAlphabetNSpace(v) || "English alphabets expected, and or spaces"],
    numberRules: [
      v => !!v || "Value is required",
      v => (v && v.length == 4) || "Atleast 4 digits expected",
      v => validNumeric(v) || "Valid numerical characters expected"
    ],
    lineRules: [v => !!v || "Line address is required", v => (v && v.length <= 35) || "There must be less than 35 characters"]
  }),

  methods: {
    async save() {
      if (this.$refs.form.validate()) {
        const response = await this.$store.dispatch(this.item.dispatch, this.address);
        this.message = Dynamic(response);
        this.feedback = true;
      }
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
