<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="contact.mobile"
            :readonly="readonly"
            :disabled="disabled"
            :counter="12"
            :rules="mobileRules"
            label="Mobile Number"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="contact.email"
            :readonly="readonly"
            :disabled="disabled"
            :rules="[v => !!v || 'Email is required']"
            label="Email"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-btn :disabled="!valid" color="success" class="mr-4" @click="save">
        Save
      </v-btn>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { Dynamic } from "@/utils/misc";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "CreditCard",
  components: {
    FeedBack
  },
  props: {
    item: {
      type: Object,
      default() {
        return {
          id: this.$route.params.id,
          dispatch: ""
        };
      }
    },
    readonly: {
      type: Boolean,
      default() {
        return true;
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    contact: {
      type: Object,
      default() {
        return {
          mobile: "",
          email: ""
        };
      }
    }
  },
  data: () => ({
    message: null,
    feedback: false,
    valid: true,
    mobileRules: [v => !!v || "Mobile Numberontact is required", v => (v && v.length <= 35) || "There must be less than 35 characters"]
  }),

  methods: {
    async save() {
      if (this.$refs.form.validate()) {
        const response = await this.$store.dispatch(this.item.dispatch, this.contact);
        this.message = Dynamic(response);
        this.feedback = true;
      }
    },
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    }
  }
};
</script>
