<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-row>
      <v-col cols="12">
        <v-text-field v-model="card.holder" :counter="25" :rules="nameRules" label="Card Holder Name" required></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-text-field v-model="card.number" :rules="numberRules" label="Card Number" required></v-text-field>
      </v-col>
      <v-col cols="12" md="4">
        <v-text-field v-model="card.cvv" :rules="cvvRules" label="Card CVV" required></v-text-field>
      </v-col>
      <v-col cols="12" md="4">
        <v-text-field v-model="card.month" :rules="monthRules" label="Expiring MM" required></v-text-field>
      </v-col>
      <v-col cols="12" md="4">
        <v-text-field v-model="card.year" :rules="yearRules" label="Expiring YY" required></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-checkbox v-model="card.saved" label="Save Details To Account ?"></v-checkbox>
      </v-col>
    </v-row>
    <v-btn :disabled="!valid" color="success" class="mr-4" @click="save">
      Save
    </v-btn>
  </v-form>
</template>

<script>
import { validAlphabetNSpace, validNumeric } from "@/utils/validate";

export default {
  name: "CreditCard",
  props: {
    card: {
      type: Object,
      default() {
        return {
          holder: "",
          number: "",
          cvv: "",
          month: "",
          year: "",
          saved: true
        };
      }
    }
  },
  data: () => ({
    valid: true,
    nameRules: [
      v => !!v || "Card holder's name is required",
      v => (v && v.length <= 25) || "Card holder's name must be less than 25 characters",
      v => validAlphabetNSpace(v) || "English alphabets expected, and or spaces"
    ],
    numberRules: [
      v => !!v || "Card number is required",
      v => (v && v.length >= 12) || "Card number must be greater than 12 numbers",
      v => validNumeric(v) || "Card number must be valid"
    ],
    cvvRules: [
      v => !!v || "CVV is required",
      v => (v && v.length === 3) || "Double check your CVV please",
      v => validNumeric(v) || "CVV must be valid"
    ],
    monthRules: [
      v => !!v || "Expiring Month is required",
      v => (v && v.length === 2) || "A length of 2 digits expected. Format MM (e.g 03)",
      v => (v && v <= 12) || "I expect a calendar with a maximum of 12 months",
      v => validNumeric(v) || "Only digits are allowed"
    ],
    yearRules: [
      v => !!v || "Expiring Year is required",
      v => (v && v.length === 2) || "A length of 2 digits expected. Format YY (e.g 21)",
      v => validNumeric(v) || "Only digits are allowed"
    ]
  }),

  methods: {
    save() {
      if (this.$refs.form.validate()) this.$emit("cardinfo");
    }
  }
};
</script>
