<template>
  <div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-stepper v-model="e6" vertical>
        <v-stepper-step :complete="e6 > 1" step="1">
          Amount To Pay
          <small>The amount to be deducted from your account</small>
        </v-stepper-step>
        <v-stepper-content step="1">
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field v-model="payAmount" :counter="35" :rules="numberRules" label="Line 1" required></v-text-field>
            </v-col>
          </v-row>
          <v-btn color="primary" @click="e6 = 2">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 2" step="2">
          Paymethod Details
          <small>The details used to pay</small>
        </v-stepper-step>
        <v-stepper-content step="2">
          <v-row>
            <v-col cols="12" md="6">
              <v-select
                v-model="selectedCard"
                :hint="`${selectedCard.month}/${selectedCard.year}`"
                :items="cards"
                item-text="holder"
                item-value="id"
                label="Your Cards"
                persistent-hint
                return-object
                single-line
              ></v-select>
            </v-col>
            <v-col cols="12">
              <credit-card :card="selectedCard" />
            </v-col>
          </v-row>
          <v-btn color="primary" @click="e6 = 3">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>

        <v-stepper-step :complete="e6 > 3" step="3">
          Billing Address
          <small>The address to which the bill is associated with</small>
        </v-stepper-step>
        <v-stepper-content step="3">
          <v-row>
            <v-col cols="12" md="6">
              <v-select
                v-model="selectedAddress"
                :hint="`${selectedAddress.city}, ${selectedAddress.zip}`"
                :items="addresses"
                item-text="line1"
                item-value="id"
                label="Your Address"
                persistent-hint
                return-object
                single-line
              ></v-select>
            </v-col>
            <v-col cols="12">
              <billing-address :address="selectedAddress" />
            </v-col>
          </v-row>
          <v-btn color="primary" @click="e6 = 2">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>
      </v-stepper>
    </v-form>
    <feed-back :dialog="feedback" :message="message" @nofeedback="nofeedback()" />
  </div>
</template>

<script>
import { validNumeric } from "@/utils/validate";
import { Dynamic } from "@/utils/misc";
import CreditCard from "@/components/forms/CreditCard";
import BillingAddress from "@/components/forms/BillingAddress";
import FeedBack from "@/components/feedback/FeedBack";

export default {
  name: "Pay",
  components: {
    FeedBack,
    CreditCard,
    BillingAddress
  },
  props: {
    cards: {
      type: Array,
      default() {
        return [];
      }
    },
    addresses: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {
      payAmount: 0,
      message: null,
      feedback: false,
      selectedCard: [],
      selectedAddress: [],
      numberRules: [
        v => !!v || "Amount is required",
        v => v >= 10 || "Amount payable must be greater than or equal to 10",
        v => validNumeric(v) || "Card number must be valid"
      ]
    };
  },
  methods: {
    nofeedback() {
      this.trashfeed = false;
      this.feedback = false;
    },
    async save() {
      const response = await this.$store.dispatch("subscription/pay", {
        amount: this.payAmount,
        card: this.selectedCard,
        address: this.selectedAddress
      });
      this.message = Dynamic(response);
      this.feedback = true;
      return;
    }
  }
};
</script>
